<section id="landing">
  <div class="custom-bar top-heading-bar">         
    <div class="container custom-container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <h3><%= fa_icon "asterisk", class: "fa-spin" %> Staffs</h3>
              <!-- <p>Please fill these fields to create your Institute page</p> -->
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <%= link_to "View Dashboard", dashboard_path(id: current_user.institute_profile.id), class: "btn btn-dashboard pull-right" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
</section>

<section class="about">
  <div class="container custom-container">
    <div class="about-content">
      <%if current_page?(new_staff_path) %> 
      <% url = staffs_path  %>
      <% method =  "post" %>
      <% else  %>
      <% url = staff_path(id: @institute_profile.id) %>
      <% method =  "put" %>
      <% end %>
      <%= simple_form_for @institute_profile, url: url, method: method do |f| %>
      <div id="staffs">
        <%= f.simple_fields_for :staffs do |s| %>
        <%= render 'staff_fields', f: s %>
        <% end %>
        <div class="links">
          <% if current_page?(new_staff_path) %> 
          <span id = "add-new-staff">
            <% end %>
            <!-- <div class="creat-field"> -->
            <%= link_to_add_association  f, :staffs do %>
            <span class="creat-file"><%= fa_icon "plus-circle" %> Add Staff</span>
            <% end %>
            <!-- </div> -->
            <% if current_page?(new_staff_path) %>
          </span>
          <% end %>
        </div>
      </div>
      <%= f.hidden_field :id_institute_profile, value: "#{@institute_profile.id}" %>
      <div class="buttons-group">
        <div class="col-md-12 col-sm-12 col-xs-12 text-left">
          <%= f.button :submit, "Save", class: "blue-btn pull-right submit-course-btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</section>