<div class="nested-fields">
  <div class="row">
    <div class="col-md-6 margin-btn-input">
      <%= f.input :name %>
      <%= f.input :specialization %>
    </div>
    <div class="col-md-6 margin-btn-input">
      <%= f.input :designation %>
      <%= f.input :experience, input_html: {max: 99} %>
    </div>
  </div>
  <%= link_to_remove_association f do %>
  <span class="red-color"><%= fa_icon "trash-o" %> Remove Staff</span> 
  <% end %>
  <hr class="custom-hr">
</div>