<%= simple_form_for(@locality) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :locality %>
  </div>
  <%= f.input :city, :collection => @cities,:label_method => :name,:value_method => :id,:label => "City" ,:include_blank => false %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
