<div class="container">
  
  <h1>Listing Localities</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Locality</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @localities.each do |locality| %>
      <tr>
        <td><%= locality.locality %></td>
        <td><%= link_to 'Show', locality %></td>
        <td><%= link_to 'Edit', edit_locality_path(locality) %></td>
        <td><%= link_to 'Destroy', locality, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Locality', new_locality_path %>
</div>
