<div class="nested-fields">
  <div class="row">
    <div class="col-md-12 margin-btn-input">
      <%= f.input :question %>
      <%= f.input :answer, as: :bootsy, input_html: {rows: 4}, editor_options: { image: false} %>
    </div>
  </div>
  <%= link_to_remove_association f do %>
  <span class="red-color"><%= fa_icon "trash-o" %> Remove FAQ</span> 
  <% end %>
  <hr class="custom-hr">
</div>