<section class="about">
  <div class="container custom-container">
    <div class="about-content margin-btn-input text-center">
      <h3><%= fa_icon "cog", class: "fa-spin" %> Account Settings</h3>
      <div class="col-md-offset-2 col-md-9">

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, validate: true) do |f| %>
        <%= f.error_notification %>

        <!-- <div class="form-inputs"> -->
        <%= f.input :email, required: true, autofocus: true, label: false, placeholder: "Email", validate: true %>

        <%= f.input :phone_number, required: true, autofocus: true, label: false, placeholder: "Phone number", validate: true %>

        <%#= f.input :role, label: false, :collection => [['Institute', User::Role::INSTITUTE], ['Student', User::Role::STUDENT]], :as => :radio_buttons %>

        <% if current_user.provider.nil? %>
        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), label: false, placeholder: "Password" %>
        <%= f.input :password_confirmation, label: false, required: true, placeholder: "Password Confirmation" %>
        <!-- </div> -->
        <% end %>

        <div class="form-actions">
          <%= f.button :submit, "Update", class: "blue-btn full-width-button" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>
<!-- <h3>Cancel my account</h3>

<p>Unhappy? <%#= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%#= link_to "Back", :back %> -->
