<p id="notice"><%= notice %></p>

<h1>Listing Course Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @course_categories.each do |course_category| %>
      <tr>
        <td><%= course_category.name %></td>
        <td><%= course_category.description %></td>
        <td><%= link_to 'Show', course_category %></td>
        <td><%= link_to 'Edit', edit_course_category_path(course_category) %></td>
        <td><%= link_to 'Destroy', course_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course category', new_course_category_path %>
