<div class="nested-fields">
  <%= f.input :name %>
  <%= f.input :designation %>
  <%= f.input :specialization %>
  <%= f.input :experience %>
  <%= link_to_remove_association "remove task", f %>
</div>