<div class="container vh-center">
  <div class="form-width">
    <%= simple_form_for @institute_profile, url: profile_step_path, method: :put do |f| %>
    <div id="staffs">
      <%= f.simple_fields_for :staffs do |s| %>
      <%= render 'staff_fields', f: s %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'Add Staff', f, :staffs %>
      </div>
    </div>
    <%= f.hidden_field :institute_profile_id, value: "#{@institute_profile.id}" %>
    <%= f.button :submit, "Continue", class: "btn btn-danger full-width-btn" %>
    <% end %>
  </div>
</div>
