<%= simple_form_for @contact_lead, remote: true do |f| %>
<%= f.input :name, label: false, placeholder: "Your Name" %>
<%= f.input :email, label: false, placeholder: "Your Email" %>
<%= f.input :subject, label: false, placeholder: "Subject" %>
<%= f.input :message, label: false, placeholder: "Your Message" %>
<%= f.hidden_field :id_institute_profile, value: "#{@institute_profile.id}" %>
<%= f.submit "Send", class: "blue-btn contact-lead-btn" %>
<% end %>