$('.contact-lead-success').html('<p><%= fa_icon "check-circle" %> Message successfully sent!</p>');
$('#contact_lead_name').val('');
$('#contact_lead_email').val('');
$('#contact_lead_subject').val('');
$('#contact_lead_message').val('');