$('#modal<%= @booking.course_id %> .modal-body').html('<p>Your booking has been confirmed. You will receive the booking details through SMS and email. </p>');
$('#session-btn-<%= @booking.course_id %>').hide().next().html('<i class="fa fa-check-circle" aria-hidden="true"></i> Booked free session!');
