<div class="nested-fields">
  <div class="row">
    <div class="col-md-6 margin-btn-input">
      <%= f.input :student_name, label: "Student Name" %>
      <%= f.input :course_id, :collection => @institute_courses, :label_method => :name, :value_method => :id,:label => "Course", :include_blank => "Select Course", input_html: { class: 'selectpicker'}  %>
    </div>
    <div class="col-md-6 margin-btn-input">
      <%= f.input :company_name, label: "Company Name" %>
      <%= f.input :year, collection: (2016).downto(2006), :include_blank => false, class: "form-control", input_html: { class: 'selectpicker'}, prompt: "Select Year", :disabled => 'Select Size'  %>
    </div>
  </div>
  <%= link_to_remove_association f do %>
  <span class="red-color"><%= fa_icon "trash-o" %> Remove Placement</span> 
  <% end %>
  <hr class="custom-hr">
</div>

