<div class="nested-fields">
  <div class="row">
    <div class="col-md-6 margin-btn-input">
      <%= f.input :url %>
      <div class="append-video"></div>
    </div>
    <div class="col-md-6 margin-btn-input">
      <%= f.input :title %>
      <%= f.input :description, input_html: {:rows => 4, maxlength: 200} %>
    </div>
  </div>
  
  <%= link_to_remove_association f do %>
  <span class="red-color"><%= fa_icon "trash-o" %> Remove Video</span> 
  <% end %>
  <hr class="custom-hr">
</div>