<%= simple_form_for @subcategory do |f| %>
<%= f.input :name %>
<%= f.input :description %>
<%= f.input :course_category_id, collection: @categories, label_metho: :name, value_method: :id %>
<%= f.button :submit %>
<% end %>