<html>

<head>
  <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
</head>

<body>
  <p>You have booked a free session with <%= @institute_name %></p>
  <p>The course is <%= @course %></p>

</body>
</html>