<html>

<head>
  <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
</head>

<body>
<p>Name: <%= @lead.name %></p>
<p>Email: <%= @lead.email %></p>
<p>Subject: <%= @lead.subject %></p>
<p>Message: <%= @lead.message %></p>

<p>You can view all your leads <%= link_to "here", lead_url(institute_profile_id: @institute.id) %></p>


</body>
</html>