<%= hidden_field_tag :placement_assistance, "0" %>
<div class="checkbox inline checkbox-success">
  <%= check_box_tag :placement_assistance, "1", nil, id: "placement-checkbox" %>
  <label for = "placement-checkbox">
    Placement Assistance
  </label>
</div>

<%= smart_listing_controls_for(:search) do %>
<h4> Placements</h4>

<% smart_listing.collection.each do |location| %>
<%#= hidden_field_tag 'location[]', '' %>
<div class= "checkbox inline checkbox-primary">
  <%= check_box_tag 'location[]', location.locality, nil, id: location.id %>
  <label for="<%= location.id %>">
    <%= location.locality %>
  </label>
</div>
<% end %>
<% end %>