<div class="course-filter-row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
  <div class=" table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr class="tr_top_border">
          <th class="text-center">Student Name</th>
          <th class="text-center">Company Name</th>
          <th class="text-center">Course</th>
          <th class="text-center">Year</th>
        </tr>
      </thead>
      <tbody>
        <% smart_listing.collection.each do |placement| %>
        <tr>
          <td><%= placement.student_name %></td>
          <td><%= placement.company_name %></td>
          <% course = Course.find(placement.course_id).name %>
          <td><%= course %></td>
          <td><%= placement.year %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>  
  </div>
</div>
