<div class="course-filter-row">
  <% smart_listing.collection.each do |course| %>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 course-box">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 course_left_bpad">
      <p class="course-name"><strong><%= course.name %></strong></p>
      <p class="course-desc"><%= course.description %></p>
      <a href="#/" class="read-more">Read More...</a>
      <div class="course-full-desc toggle-full-desc"><%= raw(course.full_description) %></div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
      <% if current_user %>
      <% if current_user.student? %>
      <% if !Booking.where(course_id: course.id, student_id: current_user.id).any? && course.offer_demo %>
      <%= link_to "Book free session", '#', data: {toggle: "modal", target: "#modal#{course.id}"}, id: "session-btn-#{course.id}", class: "blue-btn pull-right book-session-btn"  %>
      <br/>
      <p class="course-amount"><%= fa_icon "inr" %> <%= course.course_fee %></p>
      <!-- </div> -->
      <p class="book-after-msg pull-right"></p>
      <% elsif Booking.where(course_id: course.id, student_id: current_user.id).any? && course.offer_demo %>
      <p class="book-after-msg pull-right"><%= fa_icon "check-circle" %> Booked free session!</p>
      <% else %>
      <p class="book-after-msg pull-right">No free sessions!</p>
      <% end %>
      <% elsif current_user.institute? %>
      <% end %>
      <% else %>
      <!-- <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"> -->
      <%= link_to "Book free session", '#', data: {toggle: "modal", target: "#login-modal"}, class: "blue-btn pull-right book-session-btn"  %>
      <% end %>
      <br/>
      <p class="course-amount"><%= fa_icon "inr" %> <%= course.course_fee %></p>
      <%# unless course.attachment.url.nil? %>
      <p><%= link_to(course.attachment.url, target: "_blank", class: "pull-right book-session-btn course-attachment-btn", data: {toggle: "tooltip", placement: "left"}, title: "Download course attachment!") do  %>
        <%= fa_icon "cloud-download" %>
        <% end %></p>
      </div>
      <%# end %>
      
    </div>
    <div class="modal fade" id="modal<%=course.id  %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Book a free session</h4>
          </div>
          <div class="modal-body">
            <p>Course Name: <strong> <%= course.name %></strong></p>
            <p>Institute Name: <strong> <%= InstituteProfile.find(course.institute_profile_id).name %></strong></p>
            <p>
              <% if current_user && current_user.student? %>
              <%= link_to "Confirm", bookings_path(institute_id: course.institute_profile_id, course_id: course.id, student_id: current_user.id), method: :post, remote: true, class: "btn btn-sm btn-success confirm-btn" %>
              <% end %>
            </p> 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <!-- </div> -->
    <!-- Modal -->
  </div>


  <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body login-modal">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= render 'common/login' %>
        </div>
      </div>
    </div>
  </div>
