<% smart_listing.collection.each do |institute_profile| %>
<% locality_id = institute_profile.contacts.first.locality_id %>
<% locality = Locality.find(locality_id) %>
<% locality_name = Locality.find(locality_id).locality.parameterize %>
<% city = City.find(locality.city_id).name.parameterize %>
<% id = institute_profile.id %>
<% name = institute_profile.name.parameterize + '-' + institute_profile.id.to_s %>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 z-padding0">
    <div class="media">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
        <%= link_to(individual_institute_path(city: city, locality: locality_name, institute_name: name)) do %>
        <%= image_tag(institute_profile.profile_picture.url(:profile_picture), class: "img-responsive")%>
        <% end %>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8">
        <%= link_to(individual_institute_path(city: city, locality: locality_name, institute_name: name)) do %>
        <h5 class="media-heading"><%= institute_profile.name %><span class="pull-right hidden-xs"><%= image_tag("ranking_stars.png", class: "img-responsive") %></span> </h5>
        <% end %>
        <% if institute_profile.contacts.any? %>
        <p class="place"><%= fa_icon "map-marker" %>  <%= institute_profile.contacts.first.address.titleize %></p>
        <% end %>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 ipad_pad">
        <p><span class="discription">Year of Establishment   <i>:</i>   <strong><%= institute_profile.established %></strong></span></p>
        <p><strong></strong></p>
        <p class="course_title_name"><strong>Master of Business Administration Fashion & Apparel Design Management</strong></p>
        <p class="no_of_years">1-2 years</p>
        <p class="button_area">
          <%= link_to "View Courses", individual_institute_path(city: city, locality: locality_name, institute_name: name, anchor: 'courses-tab'), class: "btn btn-success" %>
          <% if institute_profile.brochure.url %>
          <%= link_to "Download E-Brochure", institute_profile.brochure.url, target: "_blank", class: "btn btn-default" %>
          <% end %>
        </p>

      </div>
    </div>
  </div>
</div>

<% end %>
<%= smart_listing.paginate %>
<%= smart_listing.pagination_per_page_links %>