<div class="container custom-container site-map-row">
<div class="row text-center open-close-row">
    <a href="#" class="btn btn-default openall">Open all</a>
    <a href="#" class="btn btn-default closeall">Close all</a>
  </div>
  <% @categories.each do |category| %>
  <div class="col-md-4">
    <% subcategories = CourseSubCategory.where(course_category_id: category.id) %>
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" href="#<%= category.id %>"><%= category.name %></a>
          </h4>
        </div>
        <div id="<%= category.id %>" class="panel-collapse collapse">
          <div class="panel-body">
            <% subcategories.each do |subcategory| %>
            <p><%= link_to subcategory.name, search_path(course_sub_category_id: subcategory.id, course_sub_category_name: subcategory.name, search_courses: "true") %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

