<section class="about">
  <div class="container custom-container">
    <div class="about-content complete-profile text-center">
      <h3><%= fa_icon "sun-o", class: "fa-spin" %> Complete your Signup </h3>
      <div class="row">
        <div class="col-md-offset-2 col-md-9">
          <%= simple_form_for(@user, url: omniauth_next_step_path , method: :put, validate: true) do |f| %>
          <!-- <span><strong>Select Role:</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> -->
          <div class="radio radio-success">
            <%= f.radio_button :role, User::Role::INSTITUTE, id: "role_ins" %>
            <label for="role_ins">Register as Institute</label>
          </div>
          <div class="radio radio-primary">
            <%= f.radio_button :role, User::Role::STUDENT, id: "role_stu" %>
            <label for="role_stu">Register as Student</label>
          </div>
          <%= f.input :phone_number, label: false, placeholder: "Phone number", validate: true %>
          <%= f.button :submit, "Update details", class: "blue-btn full-width-button" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
