<div class="container custom-container">
  <h3 class="text-center">Contact Us</h3>
  <iframe width="100%" height="350" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=12.93843,77.625875&amp;zoom=16&amp;key=AIzaSyC9fRK3QnaFPro1kwTpHK3KCSUMiN5ldWc"></iframe> 
  <div class="col-md-4">
    <p style="margin-top:20px;"><strong>Bangalore</strong> </p>
    <p><%= fa_icon "map-marker" %>  #610, 3rd Floor, 80 Feet Main Road, 6th Block, Koramangala.</p>
    <p><%= fa_icon "phone" %>  +91 8341407914, +91 9845698360</p>
  </div>
</div>
