<% set_meta_tags title: "Best Job Training, Placement Training Institutes in Bangalore", description: "Find the top job training institutes with placement and career guidance in Bangalore, Chennai, Hyderabad, Cochin, Coimbatore, Mumbai, Delhi, Calcutta.", site: nil %>
<section class="jk-slider">
  <!-- laptop banner starts -->
  <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel ">
    <div class="carousel-inner">  
      <div class="item active">
        <div class="hero">
          <hgroup>
            <div class="container center_form">
              <h1 class="">Discover the best training institutes near you.</h1>
              <div class="row">    
                <div class="col-lg-8 col-md-8 col-xs-8 col-xs-offset-2">
                  <%= simple_form_for(:autocomplete, url: search_path, method: :get, html: { id: 'home-search-form' }) do |f| %>
                  <%= f.hidden_field :course_sub_category_id, :id => "sub_id_common" %>
                  <%= f.hidden_field :course_inst_id, :id => "course_inst" %>
                  <div class="input-group background_bg_color">
                    <div class="input-group-btn search-panel banner_search_suggest">
                      <%= f.input :select_course_institute, :collection => [['Courses',1],['Institutes',2]], label: false, include_blank: false, required: false %>

                    </div>
                    <input type="hidden" name="search_param" value="all" id="search_param">        
                    <%= f.input :course_sub_category_name, label: false, required: false, placeholder: "Search for courses in bangalore", :url => autocomplete_course_sub_category_name_pages_path, :as => :autocomplete, input_html: { id: 'home-autocomplete', class: "form-control-custom no-margin-btm", 'data-auto-focus': true}, :id_element => '#sub_id_common' %>

                    <%= f.input :institute_profile_name, label: false, required: false, placeholder: "Search for institutes in bangalore", :url => autocomplete_institute_profile_name_pages_path, :as => :autocomplete, input_html: { id: 'course-inst-autocomplete', class: "form-control-custom", 'data-auto-focus': true}, :id_element => '#course_inst' %>
                    <span class="input-group-btn ">
                      <button class="btn btn-default home_banner_search home-search-autocomplete" type="button" id="home-search-autocomplete"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                    <!-- <i class="btn btn-default fa fa-search fa-2x search-icon home_banner_search" id="home-search-autocomplete"></i> -->
                  </div>
                  <% end %>

                </div>
              </div>
            </div>
          </hgroup>        
        </div>
        <div class="overlay"></div>     
        <%= image_tag("homepage_banner.jpg", class: "img-responsive banner_img") %>        
      </div>
    </div>
  </div>
  <!-- laptop banner ends -->
  <!-- Mobile banner starts -->
  <div id="carousel-example" class="carousel slide visible-xs-block" data-ride="carousel">
    <div class="carousel-inner">  
      <div class="item active">
        <div class="hero hero_banner_mobile">
          <hgroup>
            <div class="container center_form">
              <h1 class="">Discover the best training institutes near you.</h1>
              <div class="row">    
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <%= simple_form_for(:autocomplete, url: search_path, method: :get, html: { id: 'mobile-home-search-form' }) do |f| %>
                  <%= f.hidden_field :course_sub_category_id, :id => "sub_id_common" %>
                  <%= f.hidden_field :course_inst_id, :id => "course_inst" %>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mobile_search_banner">   
                    <%= f.input :select_course_institute, :collection => [['Courses',1],['Institutes',2]], label: false, include_blank: false, required: false, input_html: {id: 'mob-select-autocomplete'} %> 
                    <!-- <select class="form-control">
                      <option value="Course">Course</option>
                      <option value="Institute">Institute</option>
                    </select> -->

                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mobile_search_banner">
                    <input type="hidden" name="search_param" value="all" id="search_param">        
                    <%= f.input :course_sub_category_name, label: false, required: false, placeholder: "Search for courses in bangalore", :url => autocomplete_course_sub_category_name_pages_path, :as => :autocomplete, input_html: { id: 'mob-home-autocomplete', class: "form-control-custom no-margin-btm", 'data-auto-focus': true}, :id_element => '#sub_id_common' %>

                    <%= f.input :institute_profile_name, label: false, required: false, placeholder: "Search for institutes in bangalore", :url => autocomplete_institute_profile_name_pages_path, :as => :autocomplete, input_html: { id: 'mob-course-inst-autocomplete', class: "form-control-custom", 'data-auto-focus': true}, :id_element => '#course_inst' %>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mobile_search_banner">
                    <button class="btn btn-default mobile_btn" id="mob-home-search-autocomplete" type="button"><span class="glyphicon glyphicon-search"></span> Search </button>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
          </hgroup>        
        </div>
        <div class="overlay"></div>     
        <%= image_tag("mobile_homepage.jpg", class: "img-responsive banner_img") %>        
      </div>
    </div>
  </div>
  <!-- small banner ends -->
</section>






<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 laptop hidden-xs">
        <%= image_tag("how_it_works.jpg", class: "img-responsive") %>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 laptop visible-xs-block">
        <%= image_tag("mobile_homepage2.jpg", class: "img-responsive") %>
      </div>      
    </div>
  </div>
</section>





<!-- <i class="fa fa-search fa-2x search-icon hidden-xs-block" id="home-search-autocomplete"></i> -->

   <!--  <form action="" method="">
      <div class="input-sec">
        <input type="text" placeholder="Search best courses or Institute in" class="form-control form-control-custom" >
        <div class="dropdown-select">
          <select class="selectpicker">
            <option>Location</option>
            <option>Location</option>
          </select>

        </div>
      </div>
      <i class="fa fa-search fa-2x search-icon"></i>
    </form> -->


    <!-- <div class="detail-link">

      <div class="col-md-4">
        <%#= image_tag("front-img.png") %>
      </div>
      <div class="col-md-4">
        <a href="#">
          <span>If confused,</span><br>
          Take a look at the trending courses 
        </a>
      </div>
      <div class="col-md-4">
        <%#= image_tag("asdf.png") %>
      </div>
    </div>
  </div>
</section> -->


<% if @trending_courses.any? %>
<section id="trending-courses" class="portfolio-thumb">
  <h3 class="text-center">Trending Courses</h3>
  <div class="container">
    <div class="row">
      <% @trending_courses.first(12).each do |course| %>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 course-block">
        <% course_name = CourseSubCategory.find(course.course_sub_category_id).name %>
        <%= link_to(search_path(course_sub_category_id: course.course_sub_category_id, course_sub_category_name: course_name, search_courses: "true")) do %>
        <%= image_tag(course.picture.url, class: "img-responsive") %>
        <p><%= course.description %></p>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="text-center">
        <%= link_to "Discover all Courses", all_courses_path, class: "btn-dashboard" %>
      </div>
    </div>
  </div>
</div>
</section>
<% end %>
