<section id="landing" class="">
  <div class="breadcrum_padding">         
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <p class="breadcrum_title">Institute Page </p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
            <p class="breadcrum_count pull-right">
              <% if current_user %>
              <%if current_page?(institute_page_path) && current_user.institute? %>
              <%= link_to "View Dashboard", dashboard_path, class: "btn btn-dashboard" %>
              <% end %>
              <% end %>
              
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>  
</section>
<section id="menu-tabs">
  <div class="container mob_pad_vertical">
    <!-- Nav tabs -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2 mob_pad_vertical">
      <ul class="nav nav-tabs menu-tabs ul-tabs-custom" role="tablist">
        <li role="presentation" class="active">
          <a href="#about-us" aria-controls="about-us" role="tab" data-toggle="tab">
            <%= image_tag("About-Us.png", class: "un-active") %>
            <%= image_tag("About-Us_hov.png", class: "active-hover") %>
            <p>About Us</p>
          </a>
        </li>
        <li role="presentation">
          <a href="#courses-tab" aria-controls="courses-tab" role="tab" data-toggle="tab">
           <%= image_tag("Cousre_Offered.png", class: "un-active") %>
           <%= image_tag("Cousre_Offered-hov.png", class: "active-hover") %>
           <p>Courses</p>
         </a>
       </li>
       <li role="presentation">
         <a href="#placements-tab" aria-controls="placements-tab" role="tab" data-toggle="tab">
           <%= image_tag("Placements.png", class: "un-active") %>
           <%= image_tag("placements-hov.png", class: "active-hover") %>
           <p>Placements</p>
         </a>
       </li>
       <li role="presentation">
         <a href="#certificates-tab" aria-controls="certificates-tab" role="tab" data-toggle="tab">
           <%= image_tag("Certificates.png", class: "un-active") %>
           <%= image_tag("Certificates-hov.png", class: "active-hover") %>
           <p>Certificates</p>
         </a>
       </li>
       <li role="presentation">
         <a href="#staffs-tab" aria-controls="staffs-tab" role="tab" data-toggle="tab">
           <%= image_tag("Staffs.png", class: "un-active") %>
           <%= image_tag("staffs-hov.png", class: "active-hover") %>
           <p>Staffs</p>
         </a>
       </li>
       <li role="presentation">
         <a href="#pictures-tab" aria-controls="pictures-tab" role="tab" data-toggle="tab">
           <%= image_tag("Gallery.png", class: "un-active") %>
           <%= image_tag("Gallery-hov.png", class: "active-hover") %>
           <p>Pictures</p>
         </a>
       </li>
       <li role="presentation">
         <a href="#videos-tab" aria-controls="videos-tab" role="tab" data-toggle="tab">
           <%= image_tag("Video.png", class: "un-active") %>
           <%= image_tag("video-hov.png", class: "active-hover") %>
           <p>Videos</p>
         </a>
       </li>
       <li role="presentation">
         <a href="#testimonials-tab" aria-controls="testimonials-tab" role="tab" data-toggle="tab">
           <%= image_tag("Testimonials.png", class: "un-active") %>
           <%= image_tag("testimonials-hov.png", class: "active-hover") %>
           <p>Testimonials</p>
         </a>
       </li>
       <li role="presentation">
         <a href="#faq-tab" aria-controls="faq-tab" role="tab" data-toggle="tab">
           <%= image_tag("Article.png", class: "un-active") %>
           <%= image_tag("Article-hov.png", class: "active-hover") %>
           <p>FAQs</p>
         </a>
       </li>
       <li role="presentation">
         <a href="#contact-us-tab" aria-controls="contact-us-tab" role="tab" data-toggle="tab">
           <%= image_tag("Contact.png", class: "un-active") %>
           <%= image_tag("Contact-hov.png", class: "active-hover") %>
           <p>Contact Us</p>
         </a>
       </li>
       <li role="presentation" class="whatsapp-li">
         <!-- <a href="#" aria-controls="settings" role="tab" data-toggle="tab"> -->
         <%= link_to('#', data: {toggle: 'modal', target: '#whatsapp-num'}) do %>
         <%= image_tag("whatsapp.png", class: "", size: '48x48') %>
         <% end %>
         <!-- </a> -->
       </li>
     </ul>
   </div>

   <!-- Tab panes -->
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-10 mob_pad_right_vertical">
     <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="about-us">
        <div class="row aboutus-row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <%= image_tag @institute_profile.cover_photo.url(:cover_photo), class: "institute-img img-responsive" %>
            <div class="sudance-counter">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 col-profile-image">
                <%= image_tag @institute_profile.profile_picture.url(:profile_picture), class: "institute-profile" %>
              </div>
              <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                <div class="col-profile-discription">     
                  <span class="institute-name"><%= @institute_profile.name %></span>
                  <p class="establishment-date"><i class="fa fa-calendar-o"></i><span>Established on:</span><span class="date-color"><%= @institute_profile.established %></span></p>
                </div>  
              </div>
              <div class="col-lg-5 col-md-3 col-sm-3 col-xs-12 col-md-offset-1 ">
                <% unless @institute_profile.brochure.url.nil? %>
                <%= link_to "Download Brochure", @institute_profile.brochure.url, target: "_blank", class: "btn light-blue-btn" %>
                <% end %>
              </div>
            </div>
            <div class="row">
              <div class="custom-container container">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 course-available text-center">
                  <div><h1><%= @institute_profile.courses_available %></h1>
                    <p>Courses Available</p>
                  </div>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 student-strength text-center">
                  <div><h1><%= @institute_profile.students_strength %></h1>
                    <p>Student Strength</p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 placement text-center">
                  <div><h1><%= @institute_profile.placement_rate %>%</h1>
                    <p>placement</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="secondary-custom-bar">
                  <h4 class="text-center"><%= @institute_profile.tagline %></h4>
                </div>  
              </div>
            </div>

            <div class="row-details">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <h4>Institute in Focus</h4>
                  <p><%= raw(@institute_profile.institute_bio) %></p>
                </div>
              </div>
            </div>
            <hr>

                <!-- <div class="related-institutes-row row">
                  <div class="col-md-12">
                    <h3>Related Institutes</h3>
                    <div class="row">
                      <div class="col-md-2 col-sm-2 col-xs-12">
                        <%#= image_tag("1.png") %>
                      </div>
                      <div class="col-md-2 col-sm-2 col-xs-12">
                        <%#= image_tag("2.jpg") %>
                      </div>
                      <div class="col-md-2 col-sm-2 col-xs-12">
                        <%#= image_tag("3.jpg") %>
                      </div>
                      <div class="col-md-2 col-sm-2 col-xs-12">
                        <%#= image_tag("4.jpg") %>
                      </div>
                      <div class="col-md-2 col-sm-2 col-xs-12">
                        <%#= image_tag("5.jpg") %>
                      </div>
                      <div class="col-md-2 col-sm-2 col-xs-12">
                        <%#= image_tag("6.jpg") %>
                      </div>  
                    </div>  
                  </div>
                </div> -->
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="courses-tab">
            <div class="content">
              <% if @courses.any? %>
              <div class="row tab-content-row">
                <%= smart_listing_controls_for(:courses) do %>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mob_ins_course_dd">
                  <%= simple_form_for :search do |f| %>
                  <%= select_tag :sub_category, options_from_collection_for_select(@inst_sub_categories, "id", "name"), class: "form-control" %>
                  <%#= f.input :sub_category, label: false, collection: @all_courses, as: :grouped_select, group_method: :subcategories, prompt: "All Courses" %>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <div class="filter input-append">
                      <%= f.input :filter, label: false, class: "search", placeholder: "Search for courses" %>
                    </div>
                  </div>
                </div>
                <% end %>
                <% end %>
              </div>
              <%= smart_listing_render(:courses) %>
              <% end %>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="placements-tab">
            <div class="content">
              <% if @placements.any? %>
              <div class="row tab-content-row">
                <div class="col-lg-12 col-md-12-col-sm-12 col-xs-12 z-padding0">
                  <%= smart_listing_controls_for(:placements) do %>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mob_ins_course_dd">
                    <%= select_tag :course_name, options_from_collection_for_select(@all_courses, "id", "name"), class: "form-control" %>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <%= select_tag :placement_year, options_from_collection_for_select(@all_placement_years, "year", "year"), class: "form-control" %>
                  </div>
                  <% end %>
                  <%= smart_listing_render(:placements) %>
                </div>
              </div>
              <% end %>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="certificates-tab">
            <div class="content">
              <% if @certificates.any? %>
              <div class="row">
                <h3 class="text-center">Certifications we offer</h3><hr>
                <% @certificates.each do |certificate| %>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
                  <p id="certificate-image"><%= image_tag(certificate.picture.url(:certificate), class: "img-responsive img-thumbnail") %></p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <h4 id="certificate-title"><%= certificate.title %></h4>
                  <p id="certificate-description"><%= certificate.description %></p>
                </div>
                <hr class="custom-hr">
                <% end %>
              </div>
              <div class="row">

              </div>
              <% end %>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="staffs-tab">
            <div class="content">
              <% if @staffs.any? %>
              <div class="row tab-content-row">
                <div class="col-lg-12 col-md-12-col-sm-12 col-xs-12 z-padding0">
                  <div class="col-lg-12 col-md-12-col-sm-12 col-xs-12 text-center">
                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <thead>
                          <tr class="tr_top_border">
                            <th class="text-center">Name</th>
                            <th class="text-center">Designation</th>
                            <th class="text-center">Specialization</th>
                            <th class="text-center">Experience</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% @staffs.each do |staff| %>
                          <tr>
                            <td><%= staff.name %></td>
                            <td><%= staff.designation %></td>
                            <td><%= staff.specialization %></td>
                            <td><%= staff.experience %></td>
                          </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="pictures-tab">
            <div class="content">
              <% if @pictures.any? %>
              <div class="row tab-content-row">
                <div class="pictures">
                  <% @pictures.each do |picture| %>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 picture_bspace" href= <%= picture.picture.url %> >
                    <%= image_tag(picture.picture.url, class: "img-responsive img-thumbnail crop") %>
                    <p class="caption"><%= picture.description %></p>
                  </div>
                  <% end %>
                </div>
              </div>
              <% end %>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="videos-tab">
            <div class="content">
              <% if @videos.any? %>
              <div class="row tab-content-row">
                <% @videos.each do |video| %>
                <% video_id = video.get_video_id %>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 picture_bspace other-videos">
                  <%= link_to('#', data: {toggle: "modal", target: "##{video_id}"}) do  %>
                  <%= image_tag(video.get_thumbnail_url, class: "img-responsive img-thumbnail", data: {id: "#{video.get_video_id}", title: "#{video.title}", description: "#{video.description}"}) %>
                  <!-- <div class="play-button"></div> -->
                  <% end %>
                  <i class="fa fa-play-circle-o fa-4x video_play_btns" aria-hidden="true"></i>
                  <h4 class="title"><%= video.title %></h4>
                  <p><%= video.description %></p>
                </div>
                <div class="modal fade" id="<%= video_id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><%= video.title %></h4>
                      </div>
                      <div class="modal-body">
                        <div class="youtube-player">
                          <iframe src="" id="youtube-iframe" frameborder="0"></iframe>
                        </div>
                        <p class="p-modal"><%= video.description %></p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <% end %>
                <!-- </div> -->
              </div>
              <% end %>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="testimonials-tab">
            <div class="content">
              <% if @testimonials.any? %>
              <div class="row tab-content-row">
                <% @testimonials.each do |testimonial| %>
                <div class="col-lg-1 col-md-1 col-sm-1">
                  <div class="testimonial-image">
                    <%= image_tag(testimonial.picture.url(:thumb), class: "img-circle testimonial-image-size") %>
                  </div>
                </div>
                <div class="col-lg-11 col-md-11 col-sm-11">
                  <div class="testimonial-info">
                    <p><%= testimonial.description %></p> 
                    <p class="testimonial-name"><strong> - <%= testimonial.name %></strong></p>
                  </div>
                </div>
                <hr class="custom-hr">
                <% end %>
                <hr>
              </div>
              <% end %>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="faq-tab">
            <div class="content">
              <div class="row tab-content-row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tab-content-row">
                  <% if @faqs.any? %>
                  <% @faqs.each_with_index do |faq, index| %>
                  <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#<%= faq.id %>">
                            <%= faq.question %></a>
                          </h4>
                        </div>
                        <div id="<%= faq.id %>" class="panel-collapse collapse <%= 'in' if index == 0 %>">
                          <div class="panel-body">
                            <%= raw(faq.answer) %>
                          </div>
                        </div>
                      </div>
                    </div>
                    <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="contact-us-tab">
              <div class="content">
               <% if @contacts.any? %>
               <div class="row tab-content-row">
                 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 map-col">
                  <iframe width="100%" height="350" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=<%= @first_contact.latitude %>,<%= @first_contact.longitude %>&amp;zoom=15&amp;key=AIzaSyAVhaEosg9YEwnYIgpLm9uu2QP71CfXKWQ"></iframe> 
                </div>
              </div>
              <div class="row other-contacts-row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                    <%= render 'contact_leads/form' %>
                    <div class="contact-lead-success"></div>
                  </div>
                  <% @contacts.each do |contact| %>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <% location = Locality.find(contact.locality_id) %>
                    <% city = City.find(location.city_id) %>
                    <p><strong><%= city.name %></strong> </p>
                    <p><%= fa_icon "location-arrow" %><%= location.locality %></p>
                    <p><%= fa_icon "map-marker" %><%= contact.address %> - <%= contact.pincode %>, <%= contact.state %></p>
                    <p><%= fa_icon "phone" %><%= contact.phone_number %></p>
                  </div>
                  <% end %>
                </div>
              </div><hr>
              <div class="row">

              </div>
              <hr>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <% ahoy.track "#{@institute_profile.id}", title: "#{@institute_profile.name}" %> 
  <div id="whatsapp-num" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content modal_whatsapp">
        <!-- <div class="modal-header"> -->
        <!-- </div> -->
        <div class="modal-body text-center whatsapps">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <%= image_tag("contact-wtsapp.jpg", class: "img-responsive") %>
          <p><a href="tel:07829965968">+91 7829965968</a></p>
        </div>
      </div>

    </div>
  </div>