<section id="landing" class="hidden-xs">
  <div class="breadcrum_padding">         
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <p class="breadcrum_title">Search Institutes </p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
            <p class="breadcrum_count pull-right">200 matches found for Fashion Training Institutes Koramangala, Bangalore</p>
          </div>
        </div>
      </div>
    </div>
  </div>  
</section>

<section class="filter1">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 side_filter_greybg left_side_filter">
        <!-- <h3>Filters</h3><hr> -->
        <%= smart_listing_controls_for(:search) do %>
        <%= simple_form_for :search do |f| %>
        <h4 class="course-filter-h4"> Course Filter </h4>
        <%= f.input :sub_category_id, label: false, collection: @course_categories, as: :grouped_select, group_method: :subcategories, prompt: "All Courses"   %>


        <h4> Placement Filter </h4>
        <%= hidden_field_tag :placement_assistance, "0" %>
        <div class="checkbox inline checkbox-success">
          <%= check_box_tag :placement_assistance, "1", nil, id: "placement-checkbox" %>
          <label for = "placement-checkbox">
            Placement Assistance
          </label>
        </div>


        <h4 class="course-filter-h4" > Location Filter </h4>
        <div class="input-append">
          <input id="search_input" class="search form-control animated-search-filter" placeholder="Search" />
        </div>
        <!-- <div class="visible-xs-block">  -->
        <div class="certificate-filter-height list style-1">
          <%= hidden_field_tag 'location[]', '' %>
          <div id="search_list">
            <% Locality.all.each do |location| %>
            <div class= "checkbox inline checkbox-primary">
              <%= check_box_tag 'location[]', location.id, nil, id: location.id %>
              <label for="<%= location.id %>", class= "name">
                <%= location.locality %>
              </label>
            </div>
            <% end %>
          </div>
        </div>
        

        <!-- khk -->
        <!-- <h4 class="course-filter-h4"> Course Filter </h4>
        <%#= f.input :sub_category_id, label: false, collection: @course_categories, as: :grouped_select, group_method: :subcategories, prompt: "All Courses" %> -->


        

        <!-- <div class="certificate-filter-height list style-1">
          <%#= hidden_field_tag 'location[]', '' %>
          <div id="search_list">
            <%# Locality.all.each do |location| %>
            <div class= "checkbox inline checkbox-primary">
              <%#= check_box_tag 'location[]', location.id, nil, id: location.id %>
              <label for="<%#= location.id %>", class= "name">
                <%#= location.locality %>
              </label>
            </div>
            <%# end %>
          </div>
        </div> -->

        <!-- <hr> --><!-- <h4>Certificate Filter </h4>  -->
        <!-- <div class="certificate-filter-height">
        <%#= hidden_field_tag 'certificates[]', '' %>
        <%# Certificate.all.each do |certificate| %>
        <div class="checkbox">
          <label class= "checkbox inline checkbox-label">
            <%#= check_box_tag 'certificates[]', certificate.id %>
            <%#= certificate.title %>
          </label>
        </div>
        <%# end %>
      </div> -->
      <% end %>
      <% end %>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 mob-padding0 bottom_pading">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h4 class="search_course_heading">Training Institutes in Bangalore <span class="pull-right"><!-- Showing 1 - 10 of 10 --></span></h4>
      </div>

      <div class="row"> 
        <div class="col-md-12">
          <%= smart_listing_render(:search) %>
        </div>
      </div>
    </div>

  </div>
</div>
</section>



<script type='text/javascript'>
  $(document).ready(function() {
    if(window.location.pathname == "/institutes/search" && (window.location.search).indexOf("utf8") > -1) {

      url = decodeURIComponent(window.location.href);

      value = url.split('&')[1].split('=').pop();
      console.log(url);
      console.log(url.split('?'));
      console.log(url.split('&'))
      course_name = url.split('&')[4].split('=').pop().replace(/\+/g, ' ')
      $('#search_sub_category_id').val(value);
      $('#search_sub_category_id').selectpicker('refresh');
      $('.search-course-heading').html(course_name + " Training Institutes");
    } else {
      function getUrlVars() {
        var vars = {};
        var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi,    
          function(m,key,value) {
            vars[key] = value;
          });
        return vars;
      }
      value = getUrlVars()["course_sub_category_id"];
      $('#search_sub_category_id').val(value);
      $('#search_sub_category_id').selectpicker('refresh');
      course_name = getUrlVars()["course_sub_category_name"]
      $('.search-course-heading').html(course_name.replace(/\+/g, ' ') + " Training Institutes");
    }
  });
</script>