<div class="nested-fields">
  <div class="row">
    <div class="col-md-6 margin-btn-input">
      <%= f.input :locality_id, :label => "Location", collection: @cities, as: :grouped_select, group_method: :localities, label_method: :locality, :include_blank => "Select Location", input_html: {class: "selectpicker"} %>
      <%= f.input :address, input_html: {maxlength: 200} %>
    </div>
    <div class="col-md-6 margin-btn-input">
      <%= f.input :pincode %>
      <%= f.input :phone_number %>
      <%= f.input :state %>
    </div>
  </div>
  <%= link_to_remove_association f do %>
  <span class="red-color"><%= fa_icon "trash-o" %> Remove Contact</span> 
  <% end %>
  <hr class="custom-hr">
</div>