<section class="about">
  <div class="container custom-container">
    <div class="about-content margin-btm">
      <h3 class="text-center"><%= fa_icon "asterisk", class: "fa-spin" %> <%= current_page?(new_student_profile_path) ? 'Complete': 'Edit' %> your Profile </h3>
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <%= simple_form_for @student_profile, html: { id: "profile_form" } do |f| %>
          <%= f.input :name, label: "Name", autofocus: true %>

          <% if f.object.profile_picture.url %>
          <div class="form-group remove-float-label">
            <%= f.label "Profile Picture" %>
            <%= f.file_field :profile_picture, class: "file", data: {initial_preview: "<img src = %s class= 'img-responsive' width='170' height='140'>" %["#{f.object.profile_picture.url}"], show_upload: false } %>
          </div>
          <% else %>
          <div class="form-group remove-float-label">
            <%= f.label "Profile Picture" %>
            <%= f.file_field :profile_picture, class: "file", data: {show_upload: false} %>
          </div>
          <% end %>

          <%= f.input :phone_number, label: "Phone number" %>
          <%= f.input :bio, label: "About Yourself" %>
          <%= f.input :city, label: "City" %>
          <%= f.input :state, label: "State" %>

          <%= f.button :submit, "Save", class: "blue-btn full-width-button" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>