<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="col-md-6">
        <%= image_tag(@student_profile.profile_picture, class: "img-responsive") %>
      </div>
      <div class="col-md-6">
        <h4><%= @student_profile.name %></h4>
        <p><%= @student_profile.city %>, <%= @student_profile.state %></p>
        <p>Phone: <%= @student_profile.phone_number %></p>
      </div>
    </div>
    <div class="col-md-7">
      <h4>About me</h4>
      <p><%= @student_profile.bio %></p>
    </div>
  </div>
</div>