<%= simple_form_for(@trending_course) do |f| %>
<%= f.error_notification %>

<div class="form-inputs">
  <%= f.input :name %>
  <%= f.input :description %>
  <% if f.object.picture.url %>
  <div class="form-group">
    <%= f.label "Picture" %>
    <%= f.file_field :picture, class: "file", data: {show_remove: false, show_upload: false, initial_caption: "#{f.object.picture.url.split("/").last}", initial_preview: "<img src = %s class= 'img-responsive' width='170' height='130' >" %["#{f.object.picture.url}"]} %>
  </div>
  <% else %>
  <div class="form-group">
    <%= f.label "Picture" %>
    <%= f.file_field :picture, class: "file", data: {show_remove: false, show_upload: false} %>
  </div>
  <% end %>

  <%= f.input :course_sub_category_id, label: false, collection: @course_categories, as: :grouped_select, group_method: :subcategories, prompt: "Select Course Category", input_html: {class: 'selectpicker'} %>
</div>

<div class="form-actions">
  <%= f.button :submit %>
</div>
<% end %>
