<div class="container custom-container">
  <h1>Listing Trending Courses</h1>

  <% @trending_courses.each do |trending_course| %>
  <p><strong>Name:</strong> <%= trending_course.name %></p>
  <p><strong>Description:</strong> <%= trending_course.description %></p>
  <p><%= image_tag(trending_course.picture.url, size: '200x150') %></p>
  <p><%= link_to 'Show', trending_course %> | 
  <%= link_to 'Edit', edit_trending_course_path(trending_course) %> | 
  <%= link_to 'Destroy', trending_course, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  <hr>
  <% end %>


  <br>

  <%= link_to 'Add Trending course', new_trending_course_path %>
</div>
