<div class="container custom-container">
  <p><%= link_to 'Edit', edit_trending_course_path(@trending_course) %></p>
  <p><%= link_to 'All Trending courses', trending_courses_path %></p>
  <p>
    <strong>Name:</strong>
    <%= @trending_course.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @trending_course.description %>
  </p>

  <div class="col-md-3">
    <%= image_tag(@trending_course.picture.url, class: "img-responsive") %>
  </div>

</div>