$(document).ready(function(){
  $('.confirm-btn').click(function() {
    id = $(this).closest('.modal').attr('id');
    var path = "<%= asset_path('loading.svg') %>"
    $('#' + id + ' .modal-body').html("<img src=" + "'" + path + "'"  + ">");
  })
})