<div class="nested-fields">
  <div class="test">
    <div class="row">
      <div class="col-md-4">
        <% if f.object.attachment.url %>
        <div class="close fileinput-remove" id="hide-remove">×</div>
        <div class="form-group">
          <%= f.label "Course attachment" %>
          <div class="hide-when-changed">
            <div class="file-input">
              <div class="file-preview">
                <div class="file-preview-frame">
                  <object class="file-object" data=<%= f.object.attachment.url %> type="application/pdf" width="160px" height="160px" internalinstanceid="80">
                    <param name="movie" value="#{f.object.attachment.url.split("/").last}">
                    <param name="controller" value="true">
                    <param name="allowFullScreen" value="true">
                    <param name="allowScriptAccess" value="always">
                    <param name="autoPlay" value="false">
                    <param name="autoStart" value="false">
                    <param name="quality" value="high">
                    <div class="file-preview-other">
                     <span class="file-icon-4x"><i class="glyphicon glyphicon-file"></i></span>
                   </div>
                 </object>
                 <!-- <div class="file-thumbnail-footer">
                   <div class="file-footer-caption"><%#= f.object.attachment.url.split("/").last %></div>
                 </div> -->
               </div>
               <div class="clearfix"></div>
             </div>
           </div>
         </div>
         <div id="hide-caption">
          <%= f.file_field :attachment, class: "file", data: {show_upload: false, show_remove: false, initial_caption: "#{f.object.attachment.url.split("/").last}", allowed_file_extensions: '["pdf"]'} %>
        </div>
      </div>
      <% else %>
      <div class="form-group">
        <%= f.label "Course attachment" %>
        <%= f.file_field :attachment, class: "file", data: {show_upload: false, show_remove: false} %>
      </div>
      <% end %>
    </div>
    <div class="col-md-8 margin-btn-input">
     <%= f.input :name, label: "Course Name" %>
     <%= f.input :course_sub_category_id, label: "Course Category", collection: @course_categories, as: :grouped_select, group_method: :subcategories, prompt: "Select One", input_html: { class: 'selectpicker'} %>
     <div class="checkbox inline checkbox-danger">
     <%= f.check_box :offer_demo %>
       <label>Do you offer a free demo session for this course?</label>
     </div>
     <%= f.input :course_fee, label: "Course Fee" %>
     <%= f.input :description, label: "Short Course Description", input_html: {rows: 2, maxlength: 200} %>
     <%= f.input :full_description, label: "Detailed Course Description", as: :bootsy, input_html: {rows: 6}, editor_options: { image: false, link: false} %>
   </div>
 </div>
 <%= link_to_remove_association f do %>
 <span class="red-color"><%= fa_icon "trash-o" %> Remove Course</span> 
 <% end %>
 <hr class="custom-hr">
</div>
</div>



