  <div class="posts">
    <div class="container-fluid">
      <div class="row">
        <div class="bg-image">
          <h1 class="text-center" style="color:#fff;margin-top:0;position:relative;top:20vh;">Learnista Blog</h1>
        </div>
      </div>
    </div>    

    <div class="container custom-container">
      <div class="row" id="posts">
        <div class="col-md-offset-2 col-md-8 blog-post">
          <% @posts.each do |post| %>
          <% path = post.title.parameterize + '-' + post.id.to_s %>
          <%= link_to(blog_post_path(path)) do %>
          <h2><%= post.title %></h2>
          <% end %>
          <p><%= (raw post.description.truncate(500)) %> 
            <%= link_to "Read More", blog_post_path(path) if post.description.length > 500 %>
          </p>
          <%#= link_to 'Show', post_path(path) %>
          <% if current_user && current_user.email == "mahendarreddy@live.com" %>
          <p><%= link_to 'Edit', edit_post_path(post) %> | <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          <% end %>
          <hr class="custom-hr">
          <%end %>
        </div>
      </div>
    </div>
  </div>


