<div class="min-height-body">
  <div class="container-fluid">
    <div class="row">
      <div class="post-bg">
        <h2 style="margin-top:0;color:#fff;position:relative;top:6vh;" class="text-center"><%= @post.title %></h2>
      </div>
    </div>
  </div>
  <div class="container custom-container blog-post">
    <p style="margin-top:30px;"><%= raw(@post.description) %></p>
    <%= link_to 'Edit', edit_post_path(@post) if current_user && current_user.email == "mahendarreddy@live.com" %> 
  </div>
</div>
