.certificate-pictures {
  padding-right: 0;
  img {
    height: 110px;
    &:hover {
      cursor: pointer;
    }
  }
}

#certificate-description {
}

#certificate-title {
  color: #0182a1;
  font-weight: bold;
}