body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  word-wrap:break-word;
}

#landing {
  border-bottom: 2px solid #eee;
  box-shadow: 2px 0px 0px #ccc;
}


.register-bg {
  min-height: 100vh;
}

.min-height-body {
  min-height: 81vh;
}

.btn-default {
  background-color: #ddd;
  border-color: #ccc;
  &:hover, &:active, &:focus  {
    background-color: #ccc;
    border-color: #ddd;
  }
}

.open-close-row {
  margin-bottom: 20px;
}

.lflist_hidden [data-lfhidden] {
  visibility: hidden;
}

.navigation 
{
  li {
    list-style: none;
  }
  .btn-dashboard {
    padding: 4px 16px 7px !important;
  }
  .blue-btn {
    padding: 4px 16px 7px !important;
  }
}

.btn-default:active:hover {
  background-color: #fff;
  border-color: #ccc;
}

.red-color {
  color: #c0392b !important;
}

.fa-map-marker {
  font-size: 16px;
}


select {
  border-radius: 0 !important;
}

a {
  text-decoration: none !important;
  color: #23527c;
}

.input-group span.hidden-xs {
  color: inherit;
}

.file-preview {
  border: none;
}

.submit-btns .file-preview-frame {
  width: 186px;
}

#profile-pic-col .file-thumbnail-footer {
  display: none;
}

#brochure-col .file-footer-caption {
  margin: 2px auto 0px;
}

.remove-label-float .file-preview-image {
  display: block !important;
  width: 100% !important;
  height: 315px !important;
}

#profile-pic-col .file-preview-image {
  display: block !important;
  width: 170px !important;
  height: 175px !important;
}

.edit-cover-photo-size {
  height: 310px !important;
}

.file-preview-frame {
  height: auto !important;
}

.bootstrap-select .dropdown-toggle:focus {
  background-color: #fff;
  border-color: #ccc;
}

.open > .btn-default.dropdown-toggle {
  background-color: #fff;
  &:hover, &:active {
    background-color: #fff;
    border-color: #ccc;
  }
}

.institute-page h3 {
  margin-bottom: 20px;
}

.img-thumbnail {
  margin-bottom: 10px;
}

.radio {
  display: inline-block;
  margin-right: 20px;
}

.radio_buttons {
  display: inline;
}

select {
  height: 40px !important;
}

.form-position {
  position: relative;
  top: 50vh;
  transform: translateY(-40vh);
}
.alert-info {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /*top: 16px;*/
  width: 500px;
  text-align: center;
  z-index: 99;
  font-weight: bold;
}

.navbar-inverse {
  z-index: 50;
  .navbar-nav > .active > a {
    color: #fff;
    background-color: transparent;

    &:hover, &:focus {
      color: #fff;
      background-color: transparent;
    }
  }

  .navbar-brand {
    color: #fff;
    &:hover, &:focus {
      color: #fff;
    }
  }

  .navbar-nav > li > a {
    color: #fff;

    &:hover, &:focus, &:active {
      color: #fff;
    }
  }
}

.vh-center {
  min-height: 81vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-width {
  width: 500px;
}

.full-width-btn {
  width: 100%;
}

.fa-check {
  color: seagreen;
}

.fa-remove {
  color: #D25E5E;
}

.wysihtml5-toolbar {
  clear: left;
  .btn.dropdown-toggle.btn-default {
    height: auto;
  }
}

.about-content .help-block {
  display: none !important;
  margin-top: 0px;
}

abbr[title] {
  display: none;
}

#notice_wrapper {
  position: absolute;
  width: 100%;
  background: rgba(208, 103, 82, .85);
  z-index: 999;

  p {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 15px;
  }
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
 border: 1px solid transparent; 
}


.crop {
 height: 200px;
 width: 100%;
 overflow: hidden;
}
.pictures img {
 // height: 170px;
 // width: 220px;
}

#common-search-form {
  .input-sec {
    .form-group.autocomplete_course_sub_category_name {
      display: inline;
    }
  }
}

.header-signup {
  position: relative;
  top: 7px;
}

.nav-profile-pic {
  width: 40px;
  height: 40px;
}

.fa-map-marker {
  color: #e74c3c;
  margin-left: 1px;
}


.site-map-row {
  margin-top: 30px;

  .subcategory-name {
    color: #ccc;
  }
}

.panel-heading .accordion-toggle:after {
  /* symbol for "opening" panels */
  font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
  content: "\e114";    /* adjust as needed, taken from bootstrap.css */
  float: right;        /* adjust as needed */
  color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.fa-cog.fa-spin {
  color: #16a085;
}
.fa-asterisk {
  color: #27ae60;
}

.remove-float-label label {
  float: none !important;
}

// NProgress
/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#open-menu {
  position: relative;
  top: 17px;
  cursor: pointer;

  i {
    font-size: 1.7em;
  }

  .fa-times-circle-o {
    color: #c0392b;
  }

  .fa-bars {
    color: #16a085;
  }
}

.menu-text {
  font-size: 16px;
  position: relative;
  top: -3px;
  font-weight: bold;
}

.sidebar.left {
  height: 100vh;
  overflow-y: scroll; 
}

.register {
  .alert.alert-danger {
    display: none;
  }
}

.title {
  color: #0182a1;
  font-weight: bold;
}

#home-search-form .autocomplete_course_sub_category_name {
  margin-bottom: 0;
}

#common-search-form {
  .form-control-custom {
    top: 2px !important;
    width: 300px  !important;
    height:34px !important;
  }
  .search-icon {
    top: 2px !important;
    padding: 7px 10px !important;
  }

}
.modal_whatsapp{
  width:300px;
  margin-left:auto;
  margin-right:auto;
}
.whatsapps{
  padding:30px !important;
}
