.other-contacts-row {
  margin-top: 30px;

  i {
    font-size: 16px;
    margin-right: 9px;
  }

  .fa-phone {
    color: #16a085;
  }

  .fa-location-arrow {
    color: #2980b9;
  }
}

.map-col {
  border: 1px solid #eee;
  padding: 3px;
}