.margin-btn-input {
  input, textarea {
    margin-bottom: 9px;
  }

  span {
    color: #6B6767 !important;
    /*font-size: 15px !important;*/
  }
}

.course-filter-h4 {
  margin-bottom: 10px !important;
}

.filter {
  .btn.dropdown-toggle.btn-default {
    height: 35px;
  }
}

.dropdown-menu .inner {
  .dropdown-header {
    span {
      font-size: 15px;
      font-weight: bold;
    }
  }

  a.opt {
    span {
      font-size: 14px !important;
    }
  }
}

.remove_fields {
  color: #e74c3c;
  float: left;
}

.bootstrap-select {
  .filter-option {
    font-size: 14px !important;
  }

  .dropdown-toggle {
    border-radius: 0;
  }

  li.selected {
    span.text {
      color: #fff !important;
    }
    .check-mark {
     color: #fff !important;
     
   }
 }
}

.submit-course-btn {
  margin-top: 20px;
}

.file-footer-caption {
  display: none;
}