.title-row {
  height: 100px;
  background-color: #eee;
  /*padding-top: 16px;*/

}

.institute-page-btn {
  position: relative;
  top: 30px;
}

.fill-info-row {
  margin-top: 20px;
  h3 {
    margin-top: 10px;
  }
}

.remove-label-float {
  label {
    float: none !important;
  }
}

.fa-info-circle {
  border: 1px solid #D6C8C8;
  padding: 35px 38px;
  border-radius: 50%;
}

.close {
  font-weight: bold;
  color: #AF4034;
  border: 1px solid #F0E5DE;
  border-radius: 50%;
  padding: 0px 5px;
  background-color: #F0E5DE;
  opacity: 0.8;

  &:hover {
    color: #c0392b;
    opacity: 1;
  }
}