.institute-img {
  border: 1px solid #eee;
  padding: 3px;
}

.tab-content-row {
  margin-top: 20px;
  .btn, select {
    border-radius: 0;
    height: 36px;
  }

  input {
    height: 40px;
    border-radius: 0;
  }
}

.course-box {
  border: 1px solid #dfdfdf;
  padding: 15px 25px;
  margin-bottom: 15px;
  border-top: 4px solid #dfdfdf;
}

.course-name {
  font-size: 16px;
  margin-bottom: 7px;
  color: #0082a0;
  cursor: pointer;
}

.course-desc {
  line-height: 21px;
  color: #776D6D;
  font-size:14px;
}

.toggle-full-desc {
  display: none;
}

.course-full-desc {
  margin-top: 7px;
}

.course-full-height {
  min-height: 150px;
}

.read-more {
  margin-bottom: 15px;
}

.course-amount {
  font-size: 16px;
  color: #27ae60;
  font-weight: bold;
  margin-top:15%;
}

.blue-btn {
  &:hover, &:focus, &:active {
    text-decoration: none;
    color: #fff;
    background-color: darken(#0082a0, 3%) !important; 
  }
}

.table-bordered {
  color: #555;

  thead {
    tr {
      th {
        padding: 12px;
        &:nth-child(1) {
          background-color: #FAFAFA;
        }
        &:nth-child(2) {
          background-color: #efefef;
        }
        &:nth-child(3) {
          background-color: #e9e9e9;
        }
        &:nth-child(4) {
          background-color: #e4e4e4;
        }
        &:nth-child(5) {
          background-color: #DCDCDC;
        }
      }
    }
  }
  tbody {
    tr {
      td {
        padding: 12px;
      }
    }
  }
}

.table-striped > tbody {
  tr:nth-of-type(odd) {
    background-color: #FAFAFA;
  }
  tr:nth-of-type(even) {
    background-color: #F1F1F1;
  }
} 

#contact-tab {
  p {
    margin-bottom: 5px;
  }
}

/*#footer {
  margin-top: 50px;
}*/


.cover-photo-row {
  margin-bottom: 20px;
}

.course-filter-row {
  margin-top: 20px;
  .book-session-btn {
    font-size: 13px !important;
    text-align: left;
  }
}

.blue-btn.pull-right.book-session-btn {
    font-size: 13px !important;
    text-align: left;
  }

.course-attachment-btn i {
  font-size: 18px;
  /*margin-top: 5px;*/
  margin-right: 5px;
}

.pictures {
  p {
    margin-top: 10px;
  }
  img {
    /*width: 220px !important;
    height: 170px !important;*/
    &:hover {
      cursor: pointer;
    }
  }
}

.login-modal {
  .register {
    float: none;
    padding-top: 0px;
  }

  button.close {
    position: relative;
    top: 7px;
    font-size: 25px;
    right: 10px;
    z-index: 99;
  }
}

.book-after-msg {
  position: relative;
  top: 22px;
  right: 20px;
  font-size: 15px;
  color: #c0392b;

  i {
    margin-right: 1px;
    color: #16a085;
  }
}

.whatsapp-li {
  float:right !important;
  a {
    &:focus,&:active {
      background-color: #fff !important;
    }
  }
}

#whatsapp-num {
  p {
    color: #27ae60;
    font-size: 18px;
  }
}
.table-bordered td, .table-bordered th {
    border: 1px solid #eceeef;
}
.table td, .table th {
    padding: .75rem;
    line-height: 1.5;
    vertical-align: top;
    border-top: 1px solid #eceeef;
}
.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 2px;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #eceeef;
}
.tr_top_border {
  border-top: 5px solid #333;
}