// @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
// body {
//   font-family: 'Open Sans', 'sans-serif';
// }
.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    background-color: #F3F3F3;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #0082a0;
  padding: 5px 0px 5px 5px;
  line-height: 30px;
  font-weight: bold;
}

.carousel-control {
  width: 30px;
  height: 30px;
  top: -35px;

}
.left.carousel-control {
  right: 30px;
  left: inherit;
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right {
  font-size: 12px;
  background-color: #fff;
  line-height: 30px;
  text-shadow: none;
  color: #333;
  border: 1px solid #ddd;
}

li.mega-dropdown {
  a, &.open  {
    background-color: transparent !important;
  }

}

.menu-btn {
  margin-top:-9px; 
  padding-bottom:23px !important;
  position: relative;
  right: 61px;
}