.certificate-filter-height {
  height: 200px;
  overflow-y: scroll;
}

.search-bar {
  .autocomplete_course_sub_category_name {
    margin-bottom: 0px;
  }
}

#course-inst-autocomplete {
  display: none;
}

#mob-course-inst-autocomplete {
  display: none;
}

.mobile_search_banner .form-group {
  margin-bottom: 0;
}

#course-institute-autocomplete {
  display: none;
  input {
    position: relative;
    right: 18px;
  }
}

.analytics-row {
  .btn {
    padding: 5px 12px;
  }
}

#trending-courses {
  background: rgba(112, 206, 50, 0.61);
  padding-bottom: 50px;
    padding-top: 25px;
}

.ui-helper-hidden-accessible div {
  display: none;
}

/*Autocomplete on home page*/

ul.ui-autocomplete {
  margin-top: 2px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 0;
  margin: 1px 0 0;
  list-style: none;
  background-color: white;
  border: 1px solid #CCC;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;

  li {
    height: 27px;
    padding: 4px 10px 10px;
    &.ui-menu-item.ui-state-focus {
      background-color: #2185c5;
      color: #fff;
    }

    &:hover {
      cursor: pointer;
    }
    a {
      display: block;
      padding: 3px 15px;
      clear: both;
      font-weight: normal;
      line-height: 18px;
      color: #333;
      white-space: nowrap;
    }

    a:hover, a.ui-state-focus {
      color: #fff;
      text-decoration: none;
      background-color: #0088cc;
    }
  }
}



.register-margin-btm {
  margin-bottom: 20px;
}

.radio-btn-row {
  margin-bottom: 10px;
}

.register {
  .form-group {
    margin-bottom: 0px;
  }

  .overflow-y-scroll {
    height: 489px;
    padding: 0 55px 0; 
  }

  .help-block {
    margin-bottom: 0px;
  }
}

.social-login-row {
  margin-top: 20px;
}

.login {
  .checkbox {
    margin-top: 0px;
  }
}

.register.login .btn-blue-listing {
  background-color: #0acbee !important;
  border-radius: 4px;
  border-top: 4px solid #08a8c5;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  letter-spacing: 0.5px;
  margin-top: 0px; 
  margin-left: 15px;
  width: 68.5%;
  height: auto !important;
  margin-right: 10px;
  font-weight: 500;
  padding: 0.5em 2.2em 0.6em;
  text-align: center;
}

.login-height {
  padding-bottom: 52px;
}

.body-bg {
  background: rgb(235, 235, 235) none repeat scroll 0 0;
}

.body-white-bg {
  background: #fff none repeat scroll 0 0;
}

.login-signup-text {
  display: inline-block;
  font-size: 15px !important;
  position: relative;
  top: 10px;
}

#trending-courses {
  h3 {
    margin-bottom: 50px;
    margin-top: 25px;
    font-size: 24px;
    text-transform: uppercase;
  }
  img {
    padding: 4px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
  }
  .course-block {
    margin-bottom: 20px;
  }
}

.contact-lead-btn {
  width: 100%;
}

.contact-lead-success {
  p{
    position: relative;
    top: 14px;
    left: 36px;
    font-weight: bold;
    color: #c0392b;
    font-size: 16px;
  }

  .fa {
    color: #16a085;
  }
}

#trending-courses {
  a:hover {
    color: #fff;
  }
}

.full-width-button {
  float: none !important;
  width: 100%;
}

.complete-profile {
  label {
    width: 100% !important;
    font-size: 16px !important;
    color: #655C5C !important;
  }
  input {
    margin-bottom: 11px;
  }
  .fa-sun-o {
    color: #f1c40f;
  }
}

.margin-btm {
  input, textarea{
    margin-bottom: 15px;
  }
}

.autocomplete_select_course_institute {
  float: left;
  width: auto;
  margin-bottom: 0;
  select {
    height: 40px !important;
    padding: 6px 5px;
  }
}

.sidebar.left {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 270px;
  background: rgba(112, 152, 220, 0.55);
  z-index: 999;
}

// Lazee

/*-- VARIABLES ---*/

$font-family: 'Open Sans', sans-serif !default;
$font-size: 14px;

$border-main: 1px solid #ddd !default;
$border-bottom-level1: 1px solid #eee !default;
$border-bottom-level2: $border-bottom-level1 !default;
$border-active-link: 3px solid #d8d8d8 !default;

$color-level1: #666 !default;
$color-level2: $color-level1 !default;
$color-level3: $color-level2 !default;

$background-color-level1: white !default;
$background-color-level2: #f9f9f9 !default;
$background-color-level3: #fff !default;

$link-color-level1: #555 !default;
$link-color-level2: #327fc7 !default;
$link-color-level3: $link-color-level2 !default;

$hover-color-level1: #327fc7 !default;
$hover-color-level2: $hover-color-level1 !default;
$hover-color-level3: $hover-color-level1 !default;

$hover-background-color-level1: transparent;
$hover-background-color-level2: #f2f2f2 !default;
$hover-background-color-level3: $hover-background-color-level2 !default;

$arrow-color-level1: #9a9a9a !default;
$arrow-color-level2: #ccc !default;

/*--- MIXINS ---*/

@mixin lzhover($background, $foreground) {
  text-decoration: none;
  background-color: $background;
  color: $foreground;
}

@mixin arrow-button($color) {
  width: 0;
  height: 0;
  float: left;
  padding: 0;
  margin: 10px 9px 9px;
  text-decoration: none;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 8px solid $color;
  border-right: 0;
}

@mixin expanded($color) {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid $color;
  border-bottom: 0;
}

/*--- STYLE ---*/

ul.lz-menu {
  padding: 0;
  margin: 20px 0 0;
  width: 100%;
  line-height: 1.4em;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 20px;
  border: $border-main;

  color: $color-level1;
  background-color: $background-color-level1;
  position: relative;

  font-family: $font-family;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: $font-size;

  a,
  span {
    display: block;
    color: $link-color-level1;
    text-decoration: none;
  }

  ul, li, h3 {
    margin: 0;
    font-size: $font-size;
    color: $color-level1;
  }

  li {
    border: 0;
    margin: 0;
    padding: 0;
    display: list-item;
    text-align: -webkit-match-parent;
    list-style-type: none;
    .active > a {
      color: #333;
      border-left: $border-active-link;
      padding-left: 29px;
    }
    h3 {
      margin: 0;
      border-bottom: $border-bottom-level1;
      position: relative;
      display: block;
      a+a,
      a+span {
        padding: 8px 10px;
        font-weight: 700;
        cursor: pointer;
      }
      .arrow-btn {
        @include arrow-button($arrow-color-level1);
      }
      .expanded {
        margin: 12px 8px 8px;
        @include expanded($arrow-color-level1);
      }
      :hover {
       @include lzhover($hover-background-color-level1, $hover-color-level1);
     }
   }
   ul {
    padding: 0;
    li {
      border-bottom: $border-bottom-level2;
      color: $color-level2;
      background-color: $background-color-level2;
      h3 {
        border-bottom: 0;
        a+a,
        a+span {
          padding-left: 31px;
        }
        .arrow-btn {
          @include arrow-button($arrow-color-level2);
        }
        .expanded {
          @include expanded($arrow-color-level2);
        }
      }
      a {
        padding: 6px 0 6px 31px;
        font-weight: 400;
        color: $link-color-level2;
      }

      :hover {
       @include lzhover($hover-background-color-level2, $hover-color-level2);
     }

     ul {
      .active > a {
        padding-left: 53px;
      }
      li {
        border-bottom: 0;
        color: $color-level3;
        background-color: $background-color-level3;
        a {
          padding-left: 56px;
        }

        :hover {
          @include lzhover($hover-background-color-level3, $hover-color-level3);
        }
      }
    }
  }
}
}
}
ul.lz-menu:first-of-type > li:last-child {
  h3.collapsed {
    border-bottom: none;
  }
  :last-child {
   border-bottom: none;
 }
}

ul.lz-menu li h3 a + span {
  padding: 12px 10px;
}
ul.lz-menu li h3 .arrow-btn {
  margin: 14px 9px 9px;
}

ul.lz-menu li h3 .expanded {
  margin: 15px 9px 9px;
}

ul.lz-menu {
  border-radius: 0;
  margin-top: 0 !important;
}

// .close {
//   display: none;
// }

// .open {
//   display: inline-block;
// }

.home-footer {
  background-color: #444 !important;
}

.social-icons-row {
  img {
    margin-right: 5px;
  }
}

#common-search-form {
  #autocomplete_select_course_institute {
   position: relative;
   right: 13px;
   top: 2px;
   padding: 0 0 0 9px;
   height: 34px !important;
   border: 1px solid #E4DEDE;
 }
 #common-autocomplete {
  position: relative;
  right: 18px;
}
}

#home-search-form {
  #autocomplete_select_course_institute {
    width: 160px;
  }
}