.bg-image {
  background-image: image-url('posts-bg.jpg');
  height: 50vh;
  background-size: cover;
  background-position: center center;
}

.blog-post {
  h2 {
    color: #000;
  }
  p {
    font-size: 17px;
    color: #585353;
    line-height: 25px;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.post-bg {
  background-image: image-url('posts-bg.jpg');
  background-size: cover;
  height: 20vh;
}

.fa-angle-down {
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
}