.checkbox input[type=checkbox]:focus + label::before,
.checkbox input[type=radio]:focus + label::before {
  outline: none !important;
}

.checkbox {
  margin-bottom: 16px;
  label {
    color: #796F6F;
    font-weight: 600;
    &::before, &::after { top: 50%; }
    &::before { margin-top: -9px;
      border: 2px solid #ccc;
    }
    &::after { margin-top: -8px; }
  }
}

.radio{
  label {
    &::before, &::after { top: 50%; }
    &::before { margin-top: -9px; }
    &::after { margin-top: -6px; }
  }
}

#hide-remove {
  position: relative;
  top: 36px;
}

#search_list {
  margin-top: 12px;
}

.search.form-control {
  margin-bottom: 10px;
}
/*
 *  STYLE 1
 */

 .style-1::-webkit-scrollbar-track
 {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.style-1::-webkit-scrollbar
{
  width: 9px;
  background-color: #F5F5F5;
}

.style-1::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #ccc;
}
.breadcrum_title{
  font-size:16px;
  color:#333;
}
.breadcrum_count{
  font-size:13px;
  color:#333;
}
.breadcrum_padding{
  padding-top:20px;
  padding-bottom:20px;
  background-color: #ededed;
}
.side_filter_greybg{
  background:#f5f5f5;
}
.search_course_heading{
  font-size:16px !important; 
  line-height:24px;
  border-bottom:4px solid #eee;
  padding:15px 0 10px;
  margin-bottom: 15px !important;
}
.z-padding0{
  padding:0px;
}
.course_title_name{
    color: #767676;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5px;
    font-weight: bold;
}
.no_of_years{
    color: #767676;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 7px;
    font-weight: bold;
}


