body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    text-align:justify !important;
}
#landing {
    position: relative;
}
#landing .top-row-custom {
    margin-top: 15px;
    margin-bottom: 15px; 
}
#landing .col-logo-custom img {
    margin-top: 3px;
}
#landing ul {} #landing ul li {
    display: inline;
}
#landing .form-custom {
    /*float: right;*/
    
    width: 100%;
}
#landing .form-control-custom {
    background-color: #ededed;
    border: medium none;
    border-radius: 2px;
    box-shadow: none;
    color: #686868;
    display: inline-block;
    font-size: 14px;
    height: 44px;
    padding: 10px 10px 10px 15px;
    width: 225px;
    position: relative;
    top: 3px;
}
#landing .menu-icon {
    font-size: 1.1em;
}
#landing .menu-icon span {
    display: inline-block;
    margin-top: 17px;
}
#landing .menu-icon i {
    margin-left: 10px;
}
#landing .search-icon {
    background-color: #0182a1;
    border: 3px solid #0182a1;
    /*border-radius: 8px;*/
    
    color: white;
    margin-left: -4px;
    padding: 5px 10px;
    position: relative;
    top: 8px;
    right: 18px;
    &:hover {
        cursor: pointer;
    }
}
#landing .university-icon {
    border: 3px solid #777A9D;
    border-radius: 40px;
    padding: 8px;
    background-color: #777A9D;
    color: white;
    position: relative;
    top: 4px;
}
#landing .custom-bar {
    padding: 20px 0;
    background-color: #ededed;
    /*border-bottom: 1px solid #d4d4d4;*/
    
    border-top: 1px solid #d4d4d4;
}
.btn-dashboard {
    background-color: #fff !important;
    border: 2px solid #6acc37;
    color: #000;
    letter-spacing: 0.5px;
    padding: 0.5em 3.2em 0.6em;
    margin-top: 7px;
    border-radius: 4px;
    &:hover, &:focus {
        background-color: darken(#8ad757, 9%) !important;
        color: #fff !important;
    }
}
#menu-tabs {
    position: relative;
}
#menu-tabs .menu-tabs {
    border-bottom: 0;
}
#menu-tabs .menu-tabs a {
    text-align: center;
    color: #888888;
    padding: 9px 0px 0px;
    margin-right: 0px;
    width: 88px;
    border-top: 2px solid transparent;
    border-radius: 0;
    margin-right: 0px;
}
#menu-tabs .menu-tabs a:hover {
    background-color: #fff;
    border: 1px solid transparent;
    border-top: 2px solid #0182a1;
}
#menu-tabs .ul-tabs-custom {
    margin-bottom: 10px;
}
#menu-tabs .click-to-cal {
    position: absolute;
    right: 0;
    top: 1px;
}
#menu-tabs .institute-img {
    background-size: cover;
    width: 100%;
    height: 320px !important;
}
#menu-tabs .institute-profile {
    border: 4px solid #eaeaea;
    border-radius: 10px;
    position: relative;
    right: -40px;
    top: -60px;
    width: 150px !important;
    height: 160px !important;
    border-radius: 10px;
}
#menu-tabs .institute-name {
    float: left;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
}
#menu-tabs .btn-solid {
    background-color: #0ACAF1 !important;
    color: #fff;
    margin-top: 1em;
    padding: 0.8em 10em 0.8em 2em !important;
}
#menu-tabs .establishment-date {
    float: left;
    width: 100%;
    margin-top: 5px;
}
#menu-tabs .establishment-date i {
    color: #0ACAEE;
    font-size: 19px;
    margin-right: 8px;
}
#menu-tabs .date-color {
    color: #A7DE81;
    margin-left: 10px;
}
#menu-tabs .course-available {
    border-top: 4px solid #9DCFDA;
}
#menu-tabs .course-available p {
    color: #7AA4AD;
    font-size: 18px;
}
#menu-tabs .student-strength {
    border-top: 4px solid #C4EBAC;
}
#menu-tabs .student-strength p {
    color: #A1C58A;
    font-size: 18px;
}
#menu-tabs .placement {
    border-top: 4px solid #FED980;
}
#menu-tabs .placement p {
    color: #FED980;
    font-size: 18px;
}
#menu-tabs .secondary-custom-bar {
    background-color: #f2f2f2;
    border-top: 6px solid #dfdfdf;
}
#menu-tabs .secondary-custom-bar h4 {
    margin: 0;
    padding: 20px 0;
}
#menu-tabs .row-details h4 {
    font-weight: bold;
}
#menu-tabs .related-institutes-row {
    float: left;
    margin-bottom: 30px;
    width: 100%;
}
#menu-tabs .content {
    min-height: 60vh;
}
#footer {
    float: left;
    width: 100%;
    background-color: #969696;
    padding: 15px 0;
}
#footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}
#footer ul.footer-ul li {
    float: left;
    margin-right: 74px;
}
#footer ul.footer-ul li:last-child {
    margin-right: 0;
}
#footer ul.footer-ul li a {
    display: inline;
    color: #fff;
    font-size: 13px;
}
/*# sourceMappingURL=app.css.map */

.top-heading-bar p {
    margin: 0;
    font-style: italic;
    color: #545454;
}
#landing form {
    float: left;
    text-align: right;
    /*width: 80%;*/
}
#landing .person-icon {
    float: right;
    margin-left: 0px;
    margin-top: 1px;
}
.input-sec {
    display: inline;
    position: relative;
    width: 90%;
    margin-left: 5px;
}
.input-sec .dropdown-select {
    position: absolute;
    top: 0;
    right: 20px
}
.top-row-custom .form-group {
    margin-bottom: 0;
}
.about {
    float: left;
    width: 100%;
    background: #fafafa;
    min-height: 100vh;
}
.about-content {
    width: 875px;
    margin: 60px auto 30px;
}
.about-content label {
    font-weight: 700;
    color: #000;
    width: 80%;
    font-size: 15px;
    margin-bottom: 7px;
    text-align: left;
    float: left;
}
.about-content .upload-section {
    float: left;
    width: 840px;
}
.about-content span {
    font-size: 14px;
    color: #8f8f8f;
    display: inline-block;
}
.about-content span img {
    display: inline-block;
    margin-right: 10px;
}
.about-content .drag-file {
    float: left;
    width: 100%;
    text-align: center;
    padding: 45px 0;
    border: 3px dashed #a9a9a9;
    font-size: 25px;
    color: #a9a9a9;
}
.about-content .close-section {
    background: #c5c5c5 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    height: 25px;
    margin-top: 31px;
    margin-left: 10px;
    padding: 6.5px 5px;
    width: 25px;
}
hr {
    float: left;
    width: 100%;
    margin: 15px 0;
    border-color: transparent;
}
.about input {
    float: left;
    height: 40px;
    padding: 10px;
    background: #fff;
    border: 1px solid #c5c5c5;
    font-size: 15px;
    color: #6B6767;
    border-radius: 0;
}
.about .width input {
    width: 100%;
}
.year input {
    width: 40px;
}
.year select {
    margin-left: 10px;
    float: left;
    height: 40px;
    background: #fff;
    border: 1px solid #c5c5c5;
    font-size: 15px;
    color: #6B6767;
}
.gray-btn {
    background-color: #e5e5e5 !important;
    border-radius: 4px;
    border-top: 4px solid #d5d5d5;
    font-size: 14px;
    font-weight: 500;
    color: #213b3d;
    float: left;
    padding: 0.5em 1.2em;
    width: 178px;
}
/*                  .submit-btns span {

                                                                              margin: 10px 0 0 10px;
                                                                              }*/

                                                                              .submit-btns .close-section {
                                                                                margin-top: 6px;
                                                                            }
                                                                            .input-bg {
                                                                                background: #f2f2f2;
                                                                                padding: 20px 5px;
                                                                                float: left;
                                                                                width: 96%;
                                                                            }
                                                                            .input-bg input {
                                                                                margin-bottom: 10px;
                                                                            }
                                                                            .about textarea {
                                                                                background: #fff none repeat scroll 0 0;
                                                                                border: 1px solid #c5c5c5;
                                                                                color: #6B6767;
    /*height:60px;*/
    
    float: left;
    font-size: 15px;
    /*height: 60px;*/
    
    padding: 10px;
    width: 100%;
    border-radius: 0;
}
.creat-field {
    float: left;
    width: 96%;
}
.creat-field a {
    font-size: 14px;
    color: #27b6df;
    float: left;
}
/*.creat-field a i { font-size:30px; }*/

.creat-file {
    font-size: 14px !important;
    color: #27b6df !important;
    float: left;
    margin-right: 10px;
    margin-top: 7px;
}
.buttons-group {
    float: left;
    width: 100%;
}
.buttons-group .text-left input {
    width: 90px;
    margin-right: 10px;
    text-align: center;
}
.blue-btn {
    background-color: #0082a0 !important;
    border-radius: 4px !important;
    border-top: 4px solid #006a8c !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    color: #fff !important;
    /*float:left !important;*/
    
    padding: 0.3em 1.3em 0.5em !important;
}
.light-blue-btn {
    background-color: #0acbee !important;
    border-radius: 4px;
    border-top: 4px solid #08a8c5;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    float: right;
    text-align: center;
    padding: 0.5em 1.2em;
    width: 178px;
}
.dashboard {
    float: left;
    width: 100%;
    padding: 60px 0;
    background: #fafafa;
}
.dashboard ul {
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
}
.dashboard ul li {
    list-style: none;
    text-align: center;
    min-height: 160px;
}
.dashboard ul li a {
    font-size: 15px;
    color: #545454;
}
.dashboard ul li a:hover {
    color: #0082a0;
    text-decoration: none;
}
.dashboard ul li a:hover span {
    background-image: image-url('dashboard-bg-active.png');
    background-repeat: no-repeat;
    background-position: center center;
    display: none;
}
.dashboard ul li a.active:hover span {
    background-image: image-url('dashboard-bg-active.png');
    background-repeat: no-repeat;
    background-position: center center;
    display: none;
}
.dashboard ul li a span.hover {
    display: none;
}
.dashboard ul li a:hover span.hover {
    background-image: image-url('dashboard-bg-active.png');
    background-repeat: no-repeat;
    background-position: center center;
    display: block !important;
    padding: 40px 43px;
}
.dashboard ul li a.active span {
    background-image: image-url('dashboard-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 40px 46px;
    display: inline-block;
}
.dashboard ul li a.active span.hover {
    display: none;
}
.dashboard ul li a span {
    background-image: image-url('dashboard-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 40px 46px;
    display: inline-block;
}
.dashboard ul li a.call-tracking span {
    background-image: image-url('call-tra.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.dashboard ul li a.analytics span {
    background-image: image-url('green.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 116px 114px;
}
.dashboard ul li a {
    display: inline-block;
    width: 150px !important;
}
.filter1 {
    float: left;
    width: 100%;
    /*background: #fafafa none repeat scroll 0 0;*/
}
.filter1 h4 {
    font-size: 16px;
    font-weight: 600;
}
/*                                                     .checkbox-label {
                                                                                color: #545454;
                                                                                cursor: pointer;
                                                                                font-size: 14px;
                                                                                font-weight: normal;
                                                                                margin: 0 0 20px;
                                                                                float:left; 
                                                                                width:100%;
                                                                                }*/
/*              .checkbox-label input {
                                                                                  display: none;
                                                                                }

                                                                                .checkbox-label span {
                                                                                  background: url(../img/checkbox.png) repeat scroll 0 0;
                                                                                  float: left;
                                                                                  height: 15px;
                                                                                  margin: 2px 10px 0 0;
                                                                                  width: 15px;
                                                                                  }*/
/*.checkbox-label input:checked + span {
                                                                                  background: url(../img/check-tick.png) repeat scroll 0 0;
                                                                                  }*/

                                                                                  .filter1 .col-md-3.col-sm-3.col-xs-12 {
                                                                                    border-right: 1px solid #eeeeee;
                                                                                }
                                                                                .filter1 .col-md-9.col-sm-9.col-xs-12 {
                                                                                    background: #FFF;
                                                                                }
                                                                                .filter1 .right-sec {
                                                                                    float: left;
                                                                                    width: 100%;
                                                                                }
                                                                                .filter1 .right-sec h4 span {
                                                                                    color: rgba(0, 0, 0, 0.7);
                                                                                    font-size: 12px;
                                                                                    font-weight: normal;
                                                                                }
                                                                                .filter1 .right-sec hr {
                                                                                    height: 3px;
                                                                                    background: #eeeeee;
                                                                                    margin: 0;
                                                                                }
                                                                                .filter1 .media {
                                                                                    padding: 20px 0 20px 0;
                                                                                    border-bottom: 1px solid #eeeeee;
                                                                                    box-shadow: 0 3px 3px #eee;
                                                                                    margin-top: 10px;
                                                                                    margin-bottom: 10px;
                                                                                }
                                                                                .filter1 .media-heading {
                                                                                    color: #0082a0;
                                                                                    font-size: 16px;
                                                                                    font-weight: 600;
                                                                                    letter-spacing: 0.4px;
                                                                                    margin-bottom: 5px;
                                                                                    margin-top: 0;
                                                                                }
                                                                                .filter1 .place {
                                                                                    color: #767676;
                                                                                    float: left;
                                                                                    margin-bottom: 15px;
                                                                                    font-size: 14px;
    /*line-height: 10px;*/
    
    width: 100%;
}
.media-left {
    padding-right: 18px;
}
.filter1 .discription {
    color: #767676;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5px;
    font-weight: bold;
}
.filter1 .discription strong {
    color: #000;
}
.filter1 .discription i {
    display: inline-block;
    margin: 0 10px 0 10px;
    font-style: normal;
}
.filter1 .media-object {
    border: 1px solid #eeeeee;
    padding: 3px;
}
.btn-blue-listing {
    background-color: #0acbee !important;
    border-radius: 4px;
    border-top: 4px solid #08a8c5;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin-top: 6px;
    margin-right: 10px;
    padding: 0.4em 1.5em 0.5em;
    &:hover {
        background-color: darken(#0acbee, 5%) !important;
        color: #fff !important;
    }
}
.btn-gray-listing {
    background-color: #DEDEDE !important;
    border-radius: 4px;
    border-top: 4px solid #D0CDCD;
    color: #777;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin-top: 6px;
    padding: 0.4em 1.5em 0.5em;
}
.loadmore-listing {
    background-color: #8ad757 !important;
    border-radius: 4px;
    border-top: 4px solid #6acc37;
    color: #fff;
    float: left;
    width: 100%;
    letter-spacing: 0.5px;
    margin: 30px 0;
    text-align: center;
    padding: 0.5em 3.2em 0.6em;
}
.col-profile-discription {
    margin-left: -30px;
    margin-top: 20px;
}
.tab-content .light-blue-btn {
    margin-top: 20px;
    margin-right: 20px;
}
.sudance-counter {
    float: left;
    width: 100%;
    margin-bottom: -40px;
}
.ul-tabs-custom .active a {
    background: #eeeeee !important;
    border-bottom: 6px solid #e9e9e9 !important;
    border-radius: 0;
}
.ul-tabs-custom p {
    font-size: 12px;
}
.related-institutes-row img {
    width: 100%;
    float: left;
}
.register {
    float: left;
    width: 100%;
    padding-top: 60px;
}
.register .col-md-4 img {
    width: 100%;
    height: auto;
}
.register.login .form-section {
    float: left;
    padding: 100px 40px 40px 0px;
}
.register_form_section {
    padding: 85px 40px 40px 0px;
}

.register .heading h3 {
    font-size: 18px;
    color: #000;
    margin: 0 0 8px;
}
.register .heading span {
    font-size: 12px;
    float: left;
    color: #000;
    width: 100%;
    margin-top: 5px;
    font-weight: 400;
}
.register .checkbox-label {
    margin-top: 20px;
}
.register .col-md-6:nth-child(2) .checkbox-label {
    padding-left: 20px;
    border-left: 1px solid #d5d5d5;
}
.register input {
    background: #f2f2f2;
    color: #686868;
    float: left;
    width: 100%;
    border: none;
    padding: 10px;
    height: 40px;
    margin-bottom: 3px;
}
.register .col-md-6 a {
    display: inline-block;
    margin-top: 5px;
    margin-right: 10px;
}
.register .btn-blue-listing {
    background-color: #0acbee !important;
    border-radius: 4px;
    border-top: 4px solid #08a8c5;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    letter-spacing: 0.5px;
    margin-top: -9px;
    margin-left: -15px;
    /*width: 33.5%;*/
    
    height: auto !important;
    margin-right: 10px;
    font-weight: 500;
    padding: 0.5em 2.2em 0.6em;
    text-align: center;
}
.register p {
    font-size: 12px;
    color: #acacac;
    /*margin-top: 20px;*/
}
.register .mobile {
    position: relative;
}
.register .mobile em {
    position: absolute;
    top: 14px;
    right: 25px;
    font-style: normal;
    color: #ff0000;
}
.register .mobile input {
    padding: 10px 20px 10px 10px;
}

#home-banner {
    background-image: image-url("homepage_banner.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    padding: 240px 0;
    float: left;
    width: 100%;
    background-size: cover;
}
#home-banner h1 {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-weight: 300;
    margin: 0;
    color: #fff;
}
#home-banner p {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 0;
    color: #fff;
}
#home-banner .search-bar {
    text-align: center;
}
#home-banner form {
    background: rgba(255, 255, 255, 0.4) none repeat scroll 0 0;
    border-radius: 4px;
    display: inline-block;
    margin-top: 20px;
    padding: 14px 3px 14px 12px;
    position: relative;
    width: 630px;
}
#home-banner .person-icon {
    float: right;
    margin-left: 20px;
    margin-top: 5px;
}
.input-sec {
    display: inline;
    position: relative;
    width: 90%;
}
#home-banner .input-sec .dropdown-select {
    float: right;
    margin-right: 70px;
    margin-top: -32px;
    position: static;
}
.top-row-custom .form-group {
    margin-bottom: 0;
}
#home-banner input {
    width: 428px;
    float: right;
    border: 0 none;
    border-radius: 0;
    height: auto;
    padding: 12px 18px 12px 12px;
    margin-top: 1px;
}
#home-banner .bootstrap-select::before {
    right: -60px;
}
#home-banner .bootstrap-select.btn-group .dropdown-menu {
    box-sizing: border-box;
    left: 3px !important;
    min-width: 100%;
    top: 32px;
    width: 163px;
    z-index: 1035;
}
#home-banner .input-sec {
    float: left;
    position: relative;
    width: 86% !important;
}
#home-banner .search-icon {
    background-color: rgb(1, 130, 161);
    border: 3px solid rgb(1, 130, 161);
    /*border-radius: 8px;*/
    
    color: rgb(255, 255, 255);
    // margin-left: 7px;
    padding: 5px 14px;
    position: relative;
    top: 1px;
    left: -10px;
    cursor: pointer;
}
.detail-link {
    display: inline-block;
    width: 54%;
    margin-top: 80px;
}
.detail-link a {
    background: rgba(0, 0, 0, 0);
    background-image: image-url("zxc_03.png");
    background-repeat: no-repeat;
    background-position: center center;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 15px;
    margin-top: 30px;
    padding: 26px 20px 41px;
    text-decoration: underline;
}
.detail-link a span {
    font-size: 12px;
}
#main-sec-home {
    float: left;
    width: 100%;
    margin: 50px 0 80px 0;
}
.services a {
    font-weight: 600;
    color: #6b6b6b;
}
.services .bracket {
    position: absolute;
    top: 100px;
    left: -50px;
}

#main-sec-home .harry-up img {
    margin-top: 80px;
    display: inline-block;
}
.services .services-inner {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}
.services a.talk {
    background: rgba(0, 0, 0, 0);
    background-image: image-url("123_03.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    padding: 123px 30px 29px;
}
.services a.demo {
    background: rgba(0, 0, 0, 0);
    background-image: image-url("123_06.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    padding: 123px 30px 29px;
    width: 100%;
}
.services a.offline {
    background: rgba(0, 0, 0, 0);
    background-image: image-url("123_08.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    padding: 123px 30px 29px;
    width: 100%;
}
.white-bg .col-md-4 img {
    margin: 0 -15px;
}
.white-bg div.col-xs-12 {
    background: #fff;
}
.register .col-md-4.col-sm-4.col-xs-12 {
    padding: 0;
}
.login-modal .register{
    float: none;
    padding-top: 0px;
}
#login-modal .modal-dialog, #home-login-modal .modal-dialog {
    width: 920px;
}
#login-modal .custom-container, #home-login-modal .custom-container {
    padding-left: 0px;
}
.modal-body {
    position: relative;
    padding: 0px;
}
.register.login .col-md-4.col-sm-4.col-xs-12 {
    padding: 0 15px;
}
.ul-tabs-custom .active-hover {
    display: none;
}
.ul-tabs-custom .active .active-hover {
    display: block;
    display: inline-block;
}
.ul-tabs-custom .active .un-active {
    display: none;
}
@media (min-width: 768px) and (max-width: 991px) {
    .about-content {
        width: 100%;
    }
    .about-content .upload-section {
        width: 95%;
    }
    .right-sec .row {
        float: left;
    }
    #home-banner {
        background-size: cover;
    }
    .filter1 h4{
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.5px;
        margin-top: 20px;
    }
    .checkbox label {
        font-size: 12px;
    }
    .filter1 .media-heading {
        font-size: 14px;
        letter-spacing: 0px;        
    }
    .ipad_pad{
        padding-top: 10px;
    }
    .course_title_name {
        font-size: 12px !important;
    }
    .filter1 .discription {
        font-size: 12px !important;
    }
    .filter1 .place {
        font-size: 12px !important;
    }
    
}
@media (min-width: 320px) and (max-width: 767px) {
    .modal-dialog {
        position: relative;
        width: auto;
        margin: 50px 50px 10px 5px;
    }
    .padding-r {
        padding-right: 0;
    }
    .crop {
 height: 200px !important;
 width: 100% !important;
 overflow: hidden;
}
    #home-search-form {
      #autocomplete_select_course_institute {
        width: 100%;
    }
}
.autocomplete_select_course_institute {
    width: 100%;
}
.hamburger {
    top: 3px !important;
    z-index: 9999 !important;
}
.menu_word{
    padding-top:5px !important;
}
.btn {    
    padding: 5px 10px !important;
}
#login-modal .modal-dialog, #home-login-modal .modal-dialog {
    width: 310px !important;
}
.register.login .form-section {
    padding: 50px 0px 20px 0px !important;
}
.mob_linkto{
    padding-top:15px !important;
    padding-left: 15px !important;
}
.register.login .btn-blue-listing {
    margin-left: 4px !important;
    width: 100% !important;
    margin-right: 0px; 
} 
.login-signup-text {
    top: 30px !important;
    padding-left: 14px !important;
}
.register {
    padding-top: 0px !important;
}
.register .overflow-y-scroll {
    padding: 0 0px 0 !important; 
}
.register_form_section {
    padding: 20px 20px !important; 
}
.social-login-row {
    margin-top: 0px !important; 
}
.reg_btn_mob{
    padding-top: 40px !important;
    padding-left: 25px !important;
}
.course_title_name {
    font-size: 12px !important;
}
.filter1 .place {
    font-size: 12px !important;
}
.filter1 .discription{
    font-size: 12px !important;
}
.filter1 .media-heading {
    font-size: 14px !important;
    text-align: left;
}
.no_of_years {
    font-size: 14px !important;
}
.mob_hide_text{
    visibility:hidden !important;
}
#landing .col-logo-custom img {
    margin-top: 3px !important;
    width: 115px !important;
}


.year {
    margin-top: 20px;
}
.about-content {
    width: 100%;
}
.about-content .upload-section {
    width: 80%;
}
.submit-btns .col-xs-12 {
    margin-bottom: 20px
}
.buttons-group .text-right {
    text-align: left !important;
    margin-top: 20px;
}
.buttons-group .light-blue-btn {
    float: left;
}
.about-content label {
    width: 50%;
}
.right-sec .row {
    float: left;
}
.col-profile-discription {
    margin-left: 0;
}
.tab-content .light-blue-btn {
    float: left;
}
.related-institutes-row .col-md-2 {
    margin-bottom: 30px;
}
#menu-tabs .menu-tabs a {
    height: 70px;
}
.detail-link {
    width: 100%;
}
.services .bracket {
    display: none;
}
.laptop {
    text-align: center;
}
#main-sec-home .laptop img {
    margin-top: 0;
}
.harry-up {
    text-align: center;
}
#home-banner {
    background-size: cover;
}
#home-banner form {
    width: 90%;
}
.white-bg .col-md-4 img {
    margin: 0;
}
.register .btn-blue-listing {
    width: 100%;
}
    /********************************/
/*            mobile screen tabs insitute page   starts       */
/********************************/
.tabs-left { margin-top: 3rem; }

.nav-tabs {
  float: left;
  border-bottom: 0;
  

  li {
    float: none;
    margin: 0;
    
    a {
      margin-right: 0;
      border: 0;
      background-color: #333;
      
      &:hover {
        background-color: #444;
    }
}
}

.glyphicon {
    color: #fff;
}

.active .glyphicon {
    color: #333;
}
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  border:0;
}

.tab-content {
  margin-left: 45px;
  
  .tab-pane {
    display: none;
    background-color: #fff;
    padding: 1.6rem;
    overflow-y: auto;
}

.active { display: block; }
}

.list-group {
  width: 100%;
  
  .list-group-item {
    height: 50px;
    
    h4, span {
      line-height: 11px;
  }
}
}
.mob_pad_vertical{
    padding:0px !important;
}
.ul-tabs-custom p {
    font-size: 10px !important;
}
#menu-tabs .menu-tabs a {
    height: 60px !important;
}
#menu-tabs .menu-tabs a {
    padding: 8px 0px 0px !important;
    width: 75px !important;
}
/********************************/
/*            mobile screen tabs insitute page   ends       */
/********************************/

#menu-tabs .institute-img {
    background-size: cover;
    width: 100%;
    height: 150px !important;
}
.tab-content {
    margin-left: 0px !important;
}
.mob_pad_right_vertical{
    padding-right:0px !important;
}
#menu-tabs .institute-img {
    height: 100px !important;
}
#menu-tabs .institute-profile {
    border: 2px solid #eaeaea !important;
    right: 0px !important;
    top: -42px !important;
    width: 58px !important;
    height: 58px !important;
}
#menu-tabs .institute-name {
    font-size: 13px !important;
}
#menu-tabs .establishment-date i {
    font-size: 12px !important;
}
#menu-tabs .establishment-date {
    font-size: 12px !important;
}
.course-available, .student-strength, .placement {
    padding:0px !important;
}
.course-available h1, .student-strength h1, .placement  h1{
    font-size:14px !important;
}
.course-available p, .student-strength p, .placement p{
    font-size:12px !important;
}
.sudance-counter {
    margin-bottom: 0px !important;
}
.col-profile-image{
    margin-bottom: -50px !important;
}
#menu-tabs .secondary-custom-bar h4 {
    padding: 12px 0 !important;
    font-size: 14px !important;
}
#menu-tabs .secondary-custom-bar {
    border-top: 2px solid #dfdfdf !important;
}
.row-details h4{
    font-size:14px !important;
    line-height:21px !important;
}

.row-details div{
    font-size:12px !important;
    line-height:18px !important;
    text-align:justify;
}
.tab-content-row {
    margin-top: 0px !important;
}
.course-filter-row {
    margin-top: 0px !important;
}
.mob_ins_course_dd{
    padding-bottom:10px !important;
}
.course-box {
    padding: 10px 0px !important;
    margin-bottom: 15px !important;
}
.course_left_bpad{
    padding-bottom:10px !important;
}
.course-amount {
  font-size: 12px !important;
  margin-top: 15% !important;
  text-align:right !important;
}
.course-desc {
    line-height: 18px !important;
    font-size: 12px !important;
}
.course-name {
    font-size: 14px !important;
}
.course-filter-row .book-session-btn {
    font-size: 11px !important;
}
.table-bordered{
    font-size:11px !important;
}
#certificates-tab h3{
    font-size:16px !important;
    line-height:24px !important;
    font-weight:bold !important;
}
#certificate-image{
    margin-bottom:0px;
}
#certificate-description{
    font-size:12px !important;
    line-height:18px !important;
    margin-bottom:0px !important;
}
hr {
    margin: 2px 0 !important;
}
#certificate-title {
    font-size: 14px !important;
}
.custom-hr {
    margin: 20px 0 !important;
}
.caption {
    font-size:12px !important;
    line-height:18px !important;
    margin-top: 0px !important;
    margin-bottom: 20px !important;
}
.other-videos p{
    font-size:12px !important;
    line-height:18px !important;
    margin-top: 0px !important;
    margin-bottom: 20px !important;
}
.title {
    font-size: 14px !important;
    margin-top: 5px !important;
}
.picture_bspace{
    padding-bottom:10px !important;
}
.video_play_btns{
    top: 20% !important;
    left: 40% !important;
    color: blue !important;
    font-size:3rem !important;
}
.testimonial-info p{
    font-size:12px !important;
    line-height:18px !important;
}
.testimonial-image-size {
    width: 50px !important;
    height: 50px !important;
    margin-top: 10px !important;
}
.testimonial-image {
    margin-right: 10px !important;
    float: left;
}
.testimonial-name{
    margin-bottom:0px !important;
}
.panel-heading {
    padding: 6px 10px !important;
}
.panel-title {
    font-size:12px !important;
    font-weight:bold !important;
    text-align: left !important;
    line-height: 18px !important;
}
.panel-body{
    font-size:12px !important;
    line-height: 18px !important;
}



}
@media (min-width: 320px) and (max-width: 523px) {
    #landing form {
        width: 100%;
        margin-top: 20px
    }
    #landing .form-control-custom {
        width: 75%;
    }
    #footer ul.footer-ul li {
    // float: left;
    margin-right: 0px !important;
}
#footer ul.footer-ul li {
        // margin-bottom: 10px;
        // margin-right: 20px;
        padding-left: 3px !important;
        padding-right: 3px !important;

    }
    #footer ul.footer-ul li a{
        font-size: 10px !important;

    }
    .right-sec .media-body,
    .right-sec .media-left,
    .right-sec .media-right {
        display: inline;
        width: 100%;
    }
}
@media (min-width: 320px) and (max-width: 545px) {
    #home-banner .input-sec {
        width: 90%;
    }
    #home-banner .search-icon {
        top: auto !important;
        margin: 10px 0;
    }
}
@media (min-width: 1200px) {
    .custom-container {
        width: 1000px;
    }
}


.block {
    background-image: url(/assets/homepage_banner-c7036ecaf3df98e214745c843d47d5192a925326f1dd70d6d874b25d1becf29a.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    float: left;
    width: 100%;
    background-size: cover;

    text-align: center;
}

.block:before {
  content: '\200B';
/*   content: '';
  margin-left: -0.25em; */
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
}

.centered {
  display: inline-block;
  vertical-align: middle;  
  padding: 10px 15px;
  margin-top: -90px;
}
.center_title{
    font-size:36px;
    color:#fff;
}
.background_bg_color{
    background: rgba(108, 190, 221, 1);
    padding: 15px 15px;
}


@media (min-width: 320px) and (max-width: 480px) {
    .mob-padding0{
        padding:0px;
    }
    .btn{
        font-size:12px;
    }
    .breadcrum_title {
        font-size: 18px;
        color: #333;
        font-weight: bold;
    }
}

/********************************/
/*            Menu starts         */
/********************************/
.nav .open > a {
  background-color: transparent;
}
.nav .open > a:hover {
  background-color: transparent;
}
.nav .open > a:focus {
  background-color: transparent;
}
/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/
#wrapper {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  padding-left: 0;
  transition: all 0.5s ease;
}
#wrapper.toggled {
  padding-left: 220px;
}
#wrapper.toggled #sidebar-wrapper {
  width: 220px;
}
#wrapper.toggled #page-content-wrapper {
  margin-right: -220px;
  position: absolute;
}
#sidebar-wrapper {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  background: #1a1a1a;
  height: 100%;
  left: 220px;
  margin-left: -220px;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.5s ease;
  width: 0;
  z-index: 1000;
}
#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}
#page-content-wrapper {
}
/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.sidebar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 220px;
}
.sidebar-nav li {
  display: inline-block !important;
  line-height: 20px;
  position: relative;
  width: 100%;
}
.sidebar-nav li:before {
  background-color: #1c1c1c;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 3px;
  z-index: -1;
}
.sidebar-nav li:first-child a {
  color: #ffffff;
}
.sidebar-nav li:nth-child(2):before {
  background-color: #090909;
}
.sidebar-nav li:nth-child(3):before {
  background-color: #090909;
}
.sidebar-nav li:nth-child(4):before {
  background-color: #090909;
}
.sidebar-nav li:nth-child(5):before {
  background-color: #090909;
}
.sidebar-nav li:nth-child(6):before {
  background-color: #090909;
}
.sidebar-nav li:nth-child(7):before {
  background-color: #090909;
}
.sidebar-nav li:nth-child(8):before {
  background-color: #090909;
}
.btn-info {
    color: #fff;
    background-color: #8ad757;
}
.sidebar-nav li:nth-child(9):before {
  background-color: #987dbf;
}
.sidebar-nav li:hover:before {
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 100%;
}
.sidebar-nav li a {
  color: #dddddd;
  display: block;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  font-size: 14px;
  background: #252525;
  border-top: 1px solid #373737;
  border-bottom: 1px solid #1A1A1A;
}
.sidebar-nav li.open:hover before {
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 100%;
}
.sidebar-nav .dropdown-menu {
  background-color: #222222;
  border-radius: 0;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}
.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
  background-color: transparent;
  color: #fff;
  text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
  font-size: 20px;
  height: 65px;
  line-height: 44px;
}
/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/
.hamburger {
  border: none;
  display: block;
  height: 25px;
  margin-left: 45px;
  //position: fixed;
  top: 8px;
  width: 25px;
  z-index: 999;
  background: transparent;
  position: absolute;
}
.hamburger:hover {
  outline: none;
}
.hamburger:focus {
  outline: none;
}
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  color: #ffffff;
  content: '';
  display: block;
  font-size: 14px;
  line-height: 32px;
  opacity: 0;
  text-align: center;
  width: 100px;
}
.hamburger.is-closed:hover before {
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  display: block;
  opacity: 1;
}
.hamburger.is-closed:hover .hamb-top {
  -webkit-transition: all 0.35s ease-in-out;
  top: 0;
}
.hamburger.is-closed:hover .hamb-bottom {
  -webkit-transition: all 0.35s ease-in-out;
  bottom: 0;
}
.hamburger.is-closed .hamb-top {
  -webkit-transition: all 0.35s ease-in-out;
  background-color: #000;
  top: 2px;
}
.hamburger.is-closed .hamb-middle {
  background-color: #000;
  margin-top: -3px;
  top: 50%;
}
.hamburger.is-closed .hamb-bottom {
  -webkit-transition: all 0.35s ease-in-out;
  background-color: #000;
  bottom: 4px;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
}
.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
  background-color: red;
  margin-top: -2px;
  top: 50%;
}
.hamburger.is-open .hamb-middle {
  background-color: #fff;
  display: none;
}
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
  background-color: red;
  margin-top: -2px;
  top: 50%;
}
.hamburger.is-open:before {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  color: #ffffff;
  content: '';
  display: block;
  font-size: 14px;
  line-height: 32px;
  opacity: 0;
  text-align: center;
  width: 100px;
}
.hamburger.is-open:hover before {
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  display: block;
  opacity: 1;
}
/*-------------------------------*/
/*          Menu Dark Overlay         */
/*-------------------------------*/
.overlay {
  //position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.jk-slider{
    width:100%;
}
.banner_img{
  width:100%;
}
/*          Hero Slider Headers        */
/********************************/
.hero {
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
    -webkit-transform: translate3d(-50%,-50%,0);
    -moz-transform: translate3d(-50%,-50%,0);
    -ms-transform: translate3d(-50%,-50%,0);
    -o-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}
.hero_banner_mobile {
    position: absolute;
    width:85% !important;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
    -webkit-transform: translate3d(-50%,-50%,0);
    -moz-transform: translate3d(-50%,-50%,0);
    -ms-transform: translate3d(-50%,-50%,0);
    -o-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 1.7em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    line-height:2.7rem;
    text-transform: capitalize;
}
.hero_banner_mobile h1 {
    font-size: 1.2em !important;
    font-weight: bold;
    margin: 0;
    padding: 0;
    padding-bottom: 10px !important;
    line-height: 1.9rem !important;
    text-transform: capitalize !important;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
    -moz-transition: 2s all ease-in-out .1s; 
    -ms-transition: 2s all ease-in-out .1s; 
    -o-transition: 2s all ease-in-out .1s; 
    transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
    -moz-transition: 2s all ease-in-out .1s; 
    -ms-transition: 2s all ease-in-out .1s; 
    -o-transition: 2s all ease-in-out .1s; 
    transition: 2s all ease-in-out .1s;    
}
/********************************/
/*            Slider Overlay           */
/********************************/
.overlay {
    //position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}

.banner_search_suggest .bs-searchbox{
    display:none !important;
}

.or-box {
    position: relative;
    border-top: 1px solid #dfdfdf;
    padding-top: 20px;
    margin-top: 20px;
}
.or {
    color: #666666;
    background-color: #f5f5f5;
    position: absolute;
    text-align: center;
    top: -8px;
    width: 40px;
    left: 90px;
}
.social_login_icon{
    padding-left:0px;
}
.forgotLnk {
    margin-top: 10px;
    display: block;
}
.mobile_search_banner{
    padding: 10px 0px 10px;
}
.mobile_btn{
    background: #134E74 !important;
    color: #fff !important;
    font-size: 14px !important;
    width: 100% !important;
    border: 1px solid #134E74 !important;
    height:40px !important;
}
.mobile_form_control{
    height:40px !important;
}
.btn.dropdown-toggle.btn-default {
    background: #fff;
}
.bottom_pading{
    padding-bottom:20px;
}
.left_side_filter{
    padding-top:20px;
    padding-bottom:20px;
}
.menu_word{
    padding-top:10px;
}
.home_banner_search, .home_banner_search:hover{
    background: #0182A1 !important;
    color: #fff !important;
    border: 0px solid !important;
    padding: 10px 13px;
}
#course-inst-autocomplete, #home-autocomplete {
  height: 40px !important;
}

#mob-course-inst-autocomplete, #mob-home-autocomplete {
  height: 40px !important;
}

.course-full-desc h2{
    font-size:16px;
    line-height:24px;
    color:#000;
    font-weight:bold;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #eceeef;
}
.picture_bspace{
    padding-bottom:30px;
}

