.testimonial-name {
}

.testimonial-image {
  margin-right: 20px;
  float: left;
}

.testimonial-info {
  margin-top: 9px;
  margin-left: 10px;
}

.testimonial-image-size {
  width: 75px;
  height: 75px;
}

.custom-hr {
  border-top: 1px dashed #B7B5B5 !important;
  margin: 25px 0;
}