.other-videos {
  position: relative;
  img {
    cursor: pointer;
  }
}

.append-video {
  margin-top: 5px;
  margin-bottom: 5px;
  iframe {
    width: 100%;
    height: 250px !important;
  }
}

.youtube-container {
  display: block;
  margin: 20px auto;
  width: 100%;
  max-width: 600px;
}

.youtube-player {
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: hand;
  cursor: pointer;
  display: block;
}

/*.play-button {
  pointer-events: none;*/
  /*height: 72px;*/
  /*width: 72px;*/
 /* position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -36px;
  margin-top: -36px;
  background: url("http://i.imgur.com/TxzC70f.png") no-repeat;
}*/

.fa-play-circle-o {
  color: #fff;
  pointer-events: none;
  position: absolute;
  top: 90px;
  left: 140px;
}

.youtube-thumb {
  bottom: 0;
  display: block;
  left: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  height: auto;
}

#youtube-iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.p-modal {
  margin-top: 15px;
}
