     <section id="landing">
      <div class="custom-bar top-heading-bar">         
        <div class="container custom-container">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <h3><%= fa_icon "asterisk", class: "fa-spin" %> About Us </h3>
                  <% if current_page?(new_institute_profile_path) %>
                  <p>Please fill these basic fields. You will then be redirected to your dashboard where you can fill all the other details.</p>
                  <% else %>
                  <!-- <p>Edit your profile.</p> -->
                  <% end %>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </section>

    <section class="about">

      <div class="container custom-container">

        <div class="about-content">

          <%= simple_form_for @institute_profile, html: { id: "profile_form" } do |f| %>
          <!-- <div class="upload-section"> -->
          <!-- <label>Cover Photo</label> -->
          <!-- <span class="pull-right"><%#= image_tag("image-frame.png") %> 870x300 px</span> -->
          
            <!-- <div class="drag-file">
              Dra-g and drop here
            </div> -->
            <!-- </div> -->
            <!-- <a href="#" class="close-section"><i class="fa fa-times" aria-hidden="true"></i></a> -->

            <div class="row">
              <div class="col-md-12">
                <% if f.object.cover_photo.url %>
                <div class="form-group remove-label-float">
                  <%= f.label "Cover Photo" %>
                  <%= f.file_field :cover_photo, class: "file", data: {initial_preview: "<img src = %s class= 'img-responsive edit-cover-photo-size' >" %["#{f.object.cover_photo.url}"], show_upload: false, initial_caption: "#{f.object.cover_photo.url.split("/").last}"} %>
                </div>
                <% else %>
                <div class="form-group remove-label-float">
                  <%= f.label "Cover Photo" %>
                  <%= f.file_field :cover_photo, class: "file", data: {show_upload: false} %>
                </div>
                <% end %>
              </div>
              <hr>
              <div class="col-md-6 col-sm-6 col-xs-12 width">

                <label>Name of the Institute</label>
                <%= f.input :name, label: false, placeholder: "Name of the Institution" %>

              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 year">  
                <label>Year of Establishment</label>

                <div class="row">
                  <div class="col-md-12 col-md-12 col-xs-12">    
                    <%= f.input :established, start_year: Date.today.year - 40, end_year: Date.today.year, label: false %>

                    <!-- <select>
                      <option>
                        00
                      </option>
                    </select>
                    <select>
                      <option>
                        0000
                      </option>
                    </select> -->

                  </div>  
                </div>  
              </div>  
              <hr>

              <div class="submit-btns">
                <div class="col-md-6 col-sm-6 col-xs-12" id="profile-pic-col">

                  <!-- <a href="#" class="gray-btn">Choose Profile Picture</a> -->
                  <% if f.object.profile_picture.url %>
                  <div class="form-group">
                    <%= f.label "Profile Picture" %>
                    <%= f.file_field :profile_picture, class: "file", data: {initial_preview: "<img src = %s class= 'img-responsive' width='186' height='140'>" %["#{f.object.profile_picture.url}"], show_upload: false, show_remove: false, initial_caption: "#{f.object.profile_picture.url.split("/").last}" } %>
                  </div>
                  <% else %>
                  <div class="form-group">
                    <%= f.label "Profile Picture" %>
                    <%= f.file_field :profile_picture, class: "file", data: {show_upload: false, show_remove: false} %>
                  </div>
                  <% end %>
                  <!-- <span class="pull-left"><%#= image_tag("image-frame.png") %> 870x300 px</span>
                  <a href="#" class="close-section pull-right"><i class="fa fa-times" aria-hidden="true"></i></a> -->

                </div>

                <div class="col-md-6 col-sm-6 col-xs-12" id="brochure-col">

                  <!-- <a href="#" class="gray-btn">Choose Brochure</a> -->
                  <span class="pull-left"><%= image_tag("pdf.png") %></span>
                  <!-- <div class="close fileinput-remove" id="hide-remove">×</div> -->
                  <!-- <a href="#" class="close-section pull-right"><i class="fa fa-times" aria-hidden="true"></i></a> -->
                  <% if f.object.brochure.url %>
                  <div class="close fileinput-remove" id="hide-remove">×</div>
                  <div class="form-group">
                    <%= f.label "Course brochure" %>
                    <div class="hide-when-changed">
                      <div class="file-input">
                        <div class="file-preview">
                          <div class="file-preview-frame">
                            <object class="file-object" data=<%= f.object.brochure.url %> type="application/pdf" width="160px" height="160px" internalinstanceid="80">
                             <param name="movie" value="#{f.object.brochure.url.split("/").last}">
                             <param name="controller" value="true">
                             <param name="allowFullScreen" value="true">
                             <param name="allowScriptAccess" value="always">
                             <param name="autoPlay" value="false">
                             <param name="autoStart" value="false">
                             <param name="quality" value="high">
                             <div class="file-preview-other">
                               <span class="file-icon-4x"><i class="glyphicon glyphicon-file"></i></span>
                             </div>
                           </object>
                           <div class="file-thumbnail-footer">
                            <div class="file-footer-caption"><%= f.object.brochure.url.split("/").last %></div>
                          </div>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                  <div id="hide-caption">
                    <%= f.file_field :brochure, class: "file", data: {show_upload: false, show_remove: false, initial_caption: "#{f.object.brochure.url.split("/").last}", allowed_file_extensions: '["pdf"]'} %>
                  </div>
                </div>
                <% else %>
                <div class="form-group">
                  <%= f.label "Course brochure" %>
                  <%= f.file_field :brochure, class: "file", data: {show_upload: false, show_remove: false} %>
                </div>
                <% end %>
                <!--                 <a href="#" class="close-section pull-right"><i class="fa fa-times" aria-hidden="true"></i></a> -->

              </div>
            </div>
            <hr>

            <div class="col-md-12 width">

             <!-- <label>Tagline</label> -->
             <span class="pull-right">Max 60 Charachters</span>
             <%= f.input :tagline, label: "Tagline", placeholder: "Promoting Outstanding Research and Innovative Training", input_html: {maxlength: 60} %>
             <!-- <input type="text" placeholder="ex:  Promoting Outstanding Research and Innovative Training" /> -->

           </div>
           <hr>

           <div class="col-md-4 width">

             <!-- <label>Courses Available</label> -->
             <%= f.input :courses_available, label: "Courses Available", placeholder: "" %>

           </div>
           <div class="col-md-4 width">

             <!-- <label>Students Strength</label> -->
             <%= f.input :students_strength, label: "Students Strength", placeholder: "" %>

           </div>
           <div class="col-md-4 width">

             <!-- <label>Placement Rate in %</label> -->
             <%= f.input :placement_rate, label: "Placement Rate in %", placeholder: "" %>

           </div>
           <hr>
           <div class="col-md-12">
            <div class="checkbox inline checkbox-success">
             <%= f.check_box :placement_assistance, {id: "placement_assistance_box"} %>
             <label for="placement_assistance_box">Do you offer placement assistance?</label>
           </div>
           
         </div>
         <hr>
         <div class="col-md-12">

          <div class="input-bg">

              <!-- <div class="col-md-6 col-sm-6 col-xs-12 width">

                <input type="text" placeholder="Heading ex: About Us" />

              </div> -->
              <div class="col-md-12 col-sm-12 col-xs-12 width">

                <%= f.input :institute_bio, label: "Institute Bio", placeholder: "What sets you apart from the other institutes, etc.", as: :bootsy, input_html: {rows: 6, maxlength: 1000}, editor_options: { image: false} %>

              </div>

            </div>


          </div>
          <hr>

          <!-- <div class="creat-field">
            <div class="col-md-6 col-sm-6 col-xs-12 text-left">

              <a href="#"><span class="creat-file">Create Field</span> <i class="fa fa-plus-circle" aria-hidden="true"></i></a>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">

              <span class="pull-right">Max 3 fields can be created</span>

            </div>
          </div>
          <hr> -->
          <div class="buttons-group">

            <div class="col-md-12 col-sm-12 col-xs-12 text-left">
              <%= f.submit "Save", class: "blue-btn pull-right" %>
              <% end %>
              <!-- <a href="#" class="blue-btn">Save</a> -->
              <!-- <a href="#" class="gray-btn">Cancel</a> -->
            </div>

              <!-- <div class="col-md-6 col-sm-6 col-xs-12 text-right">
                <a href="#" class="light-blue-btn">Cancel</a>
              </div> -->

            </div>

          </div>

        </div>  

      </section>














