<div class="container custom-container">
  <div class="row text-center analytics-row">
    <h3><span style="color: #e74c3c"><%= @views %></span> page views in the last <%= @time %></h3>
    <div class="btn-group">
    <%= link_to "1 day", analytics_path, class: "btn btn-default #{'active' unless params[:days]}" %>
    <%= link_to "7 days", analytics_path(days: 7), class: "btn btn-default #{'active' if params[:days] == '7'}" %>
    <%= link_to "30 days", analytics_path(days: 30), class: "btn btn-default #{'active' if params[:days] == '30'}" %>
      
    </div>
    <%= line_chart @visits.count, discrete: true, xtitle: "Days", ytitle: "Number of page views", library: {yAxis: {allowDecimals: false }}%>

    <hr>
    <hr>
    <h3><span style="color: #e74c3c"><%= @contact_lead_count %></span> leads in the past 30 days</h3>
     <%= column_chart @contact_leads.count, discrete: true, xtitle: "Days", ytitle: "Number of Leads", library: {yAxis: {allowDecimals: false }}%>
  </div>
</div>