 <div class="row tab-content-row">
   <h3 class="text-center">Contact form Leads</h3>
   <div class="container custom-container">
     <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th class="text-center">Date</th>
          <th class="text-center">Name</th>
          <th class="text-center">Email</th>
          <th class="text-center">Subject</th>
          <th class="text-center">Message</th>
        </tr>
      </thead>
      <tbody>
        <% @leads.each do |lead| %>
        <tr class="text-center">
          <td><%= lead.created_at.strftime("%Y-%m-%d") %></td>
          <td><%= lead.name %></td>
          <td><%= lead.email %></td>
          <td><%= lead.subject %></td>
          <td><%= lead.message %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>