<section id="landing">
  <div class="custom-bar top-heading-bar">         
    <div class="container custom-container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <h3>Dashboard</h3>
              <p>Please fill these forms to create your Institute page</p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <%= link_to "Institute Page", institute_page_path, class: "btn btn-dashboard pull-right"  %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</section>
<section class="dashboard">
 <div class="container custom-container">
  <div class="row">
   <ul>
    <li class="col-md-2 col-sm-4 col-xs-12">
      <%= link_to(edit_institute_profile_path, class: "active") do %>
      <span><%= image_tag("about-us-dash.png") %></span>
      <span class="hover"><%= image_tag("Dashboard_03.png") %></span>
      <p>About Us</p>
      <% end %>
    </li>
    <li class="col-md-2 col-sm-4 col-xs-12">
      <% if current_user.institute_profile.courses.any? %>
      <%= link_to(edit_courses_path) do %>
      <span>
        <%= image_tag('Dashboard_05.png') %>
      </span>
      <span class="hover">
        <%= image_tag('course-info.png') %>
      </span>
      <p>Courses</p>
      <% end %>
      <% else %>
      <%= link_to(new_course_path) do %>
      <span>
        <%= image_tag('Dashboard_05.png') %>
      </span>
      <span class="hover">
        <%= image_tag('course-info.png') %>
      </span>
      <p>Courses</p>
      <% end %>
      <% end %>
    </li>

    <li class="col-md-2 col-sm-4 col-xs-12">
      <% if current_user.institute_profile.placements.any? %>
      <%= link_to(edit_placements_path) do %>
      <span>
        <%= image_tag('Dashboard_07.png') %>
      </span>
      <span class="hover">
        <%= image_tag('placement.png') %>
      </span>
      <p>Placements</p>
      <% end %>
      <% else %>
      <%= link_to(new_placement_path) do %>
      <span>
        <%= image_tag('Dashboard_07.png') %>
      </span>
      <span class="hover">
        <%= image_tag('placement.png') %>
      </span>
      <p>Placements</p>
      <% end %>
      <% end %>
    </li>

    <li class="col-md-2 col-sm-4 col-xs-12">
      <% if current_user.institute_profile.certificates.any? %>
      <%= link_to(edit_certificates_path) do %>
      <span>
        <%= image_tag('Dashboard_09.png') %>
      </span>
      <span class="hover">
        <%= image_tag('certificates-hover.png') %>
      </span>
      <p>Certificates</p>
      <% end %>
      <% else %>
      <%= link_to(new_certificate_path) do %>
      <span>
        <%= image_tag('Dashboard_09.png') %>
      </span>
      <span class="hover">
        <%= image_tag('certificates-hover.png') %>
      </span>
      <p>Certificates</p>
      <% end %>
      <% end %>
    </li>


    <li class="col-md-2 col-sm-4 col-xs-12">
      <% if current_user.institute_profile.staffs.any? %>
      <%= link_to(edit_staff_path) do %>
      <span>
        <%= image_tag('Dashboard_14.png') %>
      </span>
      <span class="hover">
        <%= image_tag('staffs-hover.png') %>
      </span>
      <p>Staffs</p>
      <% end %>
      <% else %>
      <%= link_to(new_staff_path) do %>
      <span>
        <%= image_tag('Dashboard_14.png') %>
      </span>
      <span class="hover">
        <%= image_tag('staffs-hover.png') %>
      </span>
      <p>Staffs</p> 
      <% end %>
      <% end %>

    </li>


    <li class="col-md-2 col-sm-4 col-xs-12">
      <% if current_user.institute_profile.pictures.any? %>
      <%= link_to(edit_pictures_path) do %>
      <span>
        <%= image_tag('adasda.png') %>
      </span>
      <span class="hover">
        <%= image_tag('gallery-hover.png') %>
      </span>
      <p>Pictures</p>
      <% end %>
      <% else %>
      <%= link_to(new_picture_path) do %>
      <span>
        <%= image_tag('adasda.png') %>
      </span>
      <span class="hover">
        <%= image_tag('gallery-hover.png') %>
      </span>
      <p>Pictures</p>
      <% end %>

      <% end %>

    </li>


    <li class="col-md-2 col-sm-4 col-xs-12">
      <% if current_user.institute_profile.videos.any? %>
      <%= link_to(edit_videos_path) do %>
      <span>
        <%= image_tag('Dashboard_23.png') %>
      </span>
      <span class="hover">
        <%= image_tag('videos.png') %>
      </span>
      <p>Videos</p>
      <% end %>
      <% else %>
      <%= link_to(new_video_path) do %>
      <span>
        <%= image_tag('Dashboard_23.png') %>
      </span>
      <span class="hover">
        <%= image_tag('videos.png') %>
      </span>
      <p>Videos</p>
      <% end %>
      <% end %>
    </li>

    <li class="col-md-2 col-sm-4 col-xs-12">
      <% if current_user.institute_profile.testimonials.any? %>
      <%= link_to(edit_testimonials_path) do %>
      <span>
        <%= image_tag('Dashboard_25.png') %>
      </span>
      <span class="hover">
        <%= image_tag('testimonials-hover.png') %>
      </span>
      Testimonials
      <% end %>
      <% else %>
      <%= link_to(new_testimonial_path) do  %>
      <span>
        <%= image_tag('Dashboard_25.png') %>
      </span>
      <span class="hover">
        <%= image_tag('testimonials-hover.png') %>
      </span>
      <p>Testimonials</p>
      <% end %>
      <% end %>

    </li>


    <li class="col-md-2 col-sm-4 col-xs-12">
      <% if current_user.institute_profile.faqs.any? %>
      <%= link_to(edit_faqs_path) do %>
      <span>
        <%= image_tag('Dashboard_27.png') %>
      </span>
      <span class="hover">
        <%= image_tag('articles-hover.png') %>
      </span>
      <p>FAQs</p>
      <% end %>
      <% else %>
      <%= link_to(new_faq_path) do %>
      <span>
        <%= image_tag('Dashboard_27.png') %>
      </span>
      <span class="hover">
        <%= image_tag('articles-hover.png') %>
      </span>
      <p>FAQs</p>
      <% end %>
      <% end %>
    </li>


    <li class="col-md-2 col-sm-4 col-xs-12">
      <% if current_user.institute_profile.contacts.any? %>
      <%= link_to(edit_contacts_path) do %>
      <span>
        <%= image_tag('Dashboard_29.png') %>
      </span>
      <span class="hover">
        <%= image_tag('contact-hover.png') %>
      </span>
      <p>Contact Us</p>
      <% end %>
      <% else %>
      <%= link_to(new_contact_path) do %>
      <span>
        <%= image_tag('Dashboard_29.png') %>
      </span>
      <span class="hover">
        <%= image_tag('contact-hover.png') %>
      </span>
      <p>Contact Us</p>
      <% end %>
      <% end %>
    </li> 

    <li class="col-md-2 col-sm-4 col-xs-12">
      <%= link_to(lead_path, class: "call-tracking") do %>
      <span>
        <%= image_tag('call-tracking.png') %>
      </span>
      <span class="hover">
        <%= image_tag('call-tracking.png') %>
      </span>
      Lead Tracking
      <% end %>
    </li>  
    <li class="col-md-2 col-sm-4 col-xs-12">
      <%= link_to(analytics_path, class: "analytics") do %>
        <span>
          <%= image_tag('Dashboard_03_07.png') %>
        </span>
        <span class="hover">
          <%= image_tag('Dashboard_03_07.png') %>
        </span>
        Analytics
      <% end %>
    </li> 
  </ul>
</div>

</div>

</section>


