 <section id="footer">
  <div class="custom-container container">
    <ul class="footer-ul">
      <!-- <li><a href="#">We're Hiring!</a></li> -->
      <li><a href="#">About</a></li>
      <li><%= link_to "Blog", blog_path %></li>
      <!-- <li><a href="#">Affiliate Program</a></li> -->
      <li><%= link_to "Contact", contact_us_path %></li>
      <li><a href="#">Privacy</a></li>
      <li><%= link_to "Terms and Conditions", terms_path %></li>
      <li><a href="#">Sitemap</a></li>
    </ul>
  </div>
</section>