 <section id="footer">
  <div class="custom-container container">
    <div class="row">
      <ul class="footer-ul">
        <li><a href="#">About</a></li>
        <li><%= link_to "Blog", blog_path %></li>
        <!-- <li><a href="#">Affiliate Program</a></li> -->
        <li><%= link_to "Contact", contact_us_path %></li>
        <li><a href="#">Privacy</a></li>
        <li><%= link_to "Terms and Conditions", terms_path %></li>
        <li><a href="#">Sitemap</a></li>
        <li><%= link_to "Get Listed", new_user_registration_path %></li>
      </ul>
    </div>
    <div class="row text-center social-icons-row" style="margin-top:15px;">
      <%= link_to('https://www.facebook.com/Learnista-1695181617410180/', target: '_blank') do %>
      <%= image_tag('facebook-learnista.jpg', size:'22x22') %>
      <% end %>
      <%= link_to('https://twitter.com/learnista', target: '_blank') do %>
      <%= image_tag('twitter-learnista.jpg', size:'22x22') %>
      <% end %>
      <%= link_to('https://plus.google.com/112092335722917052916/about', target: '_blank') do %>
      <%= image_tag('google-plus-learnista.jpg', size:'22x22') %>
      <% end %>
      <%= link_to('https://www.linkedin.com/company/Learnista', target: '_blank') do %>
      <%= image_tag('linkedin-learnista.jpg', size:'22x22') %>
      <% end %>
    </div>
    <div class="row text-center" style="margin-top:10px;">
      <p style="color:#fff">&copy; 2016 Learnista. All Rights Reserved.</p>
    </div>
  </div>
</section>