<section class="register login">
 <div class="container custom-container white-bg">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 hidden-xs">
    <%= image_tag("login-img.jpg") %>
  </div>  

  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 login-height">
    <div class="form-section">
      <div class="heading"> 
        <h3>Sign in to explore Learnista</h3>
        <!-- <span>Please be Our Guest</span> -->
      </div>
      <div class="row">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 register-margin-btm">
         <%= f.input :email, required: false, autofocus: true, label: false, placeholder: "Email" %>
       </div>

       <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <%= f.input :password, required: false, placeholder: "Password", label: false %>
      </div>  
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 register-margin-btm">
        <%= link_to(user_facebook_omniauth_authorize_path, class: "mob_linkto") do %>
        <%= image_tag("facebook.png") %>
        <% end %>
        <%= link_to(user_google_omniauth_authorize_path) do %>
        <%= image_tag("google.png") %>
        <% end %>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class= "checkbox inline checkbox-primary">
          <%= f.check_box :remember_me if devise_mapping.rememberable? %>
          <label for="user_remember_me">Remember me</label>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
            <%= f.button :submit, "Log in", class: "btn-blue-listing" %>
            <p class="login-signup-text">or <%= link_to "SignUp", new_user_registration_path %></p>
        </div>
      </div>  
      <% end %>
    </div>
  </div>  
</div>
</section>


