  <section id="landing">
   <div class="row navigation">
    <div class="container top-row-custom">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 col-logo-custom">
        <%= link_to(root_path) do %>
        <%= image_tag("learnista-logo-beta.png") %>
        <% end %>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8">
      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-4 hidden-xs">
          <% unless current_page?(root_path) || current_page?(new_user_registration_path) %>
          <%= simple_form_for(:autocomplete, url: search_path, method: :get, html: { id: 'common-search-form' }) do |f| %>
          <%= f.hidden_field :course_sub_category_id, :id => "sub_id" %>
          <%= f.hidden_field :course_inst_id, :id => "course_insti" %>
          <div class="input-sec">
            <%= f.input :select_course_institute, :collection => [['Courses',1],['Institutes',2]], label: false, include_blank: false, required: false %>
            <!-- <div id="nav-course-autocomplete"> -->
            <%= f.input :course_sub_category_name, label: false, placeholder: "Search for courses...", :url => autocomplete_course_sub_category_name_pages_path, :as => :autocomplete, input_html: { id: 'common-autocomplete', class: "form-control-custom", 'data-auto-focus': true}, :id_element => '#sub_id' %>
            <!-- </div> -->
            <div id="course-institute-autocomplete">
              <%= f.input :institute_profile_name, label: false, required: false, placeholder: "Search for institutes...", :url => autocomplete_institute_profile_name_pages_path, :as => :autocomplete, input_html: { id: '', class: "form-control-custom", 'data-auto-focus': true}, :id_element => '#course_insti' %>
            </div>
            <i class="fa fa-search search-icon" id="common-search-autocomplete"></i>
          </div>
          <% end %>
          <% end %>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
          <div id="page-content-wrapper" class="pull-right">
           <p class="menu_word">
             <strong class="mob_hide_text" data-toggle="offcanvas">MENU</strong>
             <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
              <span class="hamb-top"></span>
              <span class="hamb-middle"></span>
              <span class="hamb-bottom"></span>
            </button>  
          </p>         
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-9 padding-r">

        <% if current_user %>
        <div class="person-icon"> 
          <% if current_user.institute? && !current_user.institute_profile.nil? %>
          <li class="dropdown">
            <%= link_to('#', class: "dropdown-toggle", data: {toggle: "dropdown"}) do %>
            <%= image_tag current_user.institute_profile.profile_picture.url(:thumb), class: "img-circle nav-profile-pic" %>
            <%= truncate(current_user.institute_profile.name, length: 10) %>
            <span class="caret"></span>
            <% end %>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><%= link_to "Dashboard", dashboard_path %></li> 
              <li><%= link_to "Institute Page", institute_page_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Account settings", edit_user_registration_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
          <% elsif current_user.student? && !current_user.student_profile.nil? %>
          <li class="dropdown">
            <%= link_to('#', class: "dropdown-toggle", data: {toggle: "dropdown"}) do %>
            <%= image_tag current_user.student_profile.profile_picture.url, class: "img-circle nav-profile-pic" %>
            <%= truncate(current_user.student_profile.name, length: 10) %>
            <span class="caret"></span>
            <% end %>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><%= link_to "Edit Profile", edit_student_profile_path %></li>
              <li><%= link_to "Account settings", edit_user_registration_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
          <% else %>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <% end %>
          <% else %>
          <div class="btn-group pull-right">
            <%= link_to "Signup", new_user_registration_path, class: "btn btn-large btn-info active" %>
            <%= link_to "Login", '#', data: {toggle: "modal", target: "#home-login-modal"}, class: "btn btn-large btn-success" %>
          </div>
        </div>

        <!-- <ul class="pull-right">
          <li><%#= link_to "Signup", new_user_registration_path, class: "blue-btn header-signup" %></li>
          <li><%#= link_to "Login", '#', data: {toggle: "modal", target: "#home-login-modal"}, class: "btn-dashboard header-signup" %></li>
        </ul> -->
        <% end %>
      </div>


    </div>

    <!-- <span id="open-menu"> <i class="fa fa-bars"></i> <span class="menu-text">Menu</span></span> -->



    
    

    <div id="wrapper">
      <div class="overlay"></div>
      <!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
          <li class="sidebar-brand">
            <a href="#">
             Browse Categories                        
           </a>
         </li>
         <li class="dropdown">
          <% CourseCategory.all.each do |category| %>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-play">
          </i>  <%= category.name %></a>
          <% sub_categories = CourseSubCategory.where(course_category_id: category.id) %>
          <% sub_categories.each do |sub_category| %>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to sub_category.name, search_path(course_sub_category_id:sub_category.id, course_sub_category_name: sub_category.name, search_courses: "true") %></li>
          </ul>
          <% end %>
          <% end %>
        </li>
      </ul>
    </nav>
    <!-- /#sidebar-wrapper -->
  </div>






  <!-- <div class="col-md-7 col-xs-12 text-center pull-right"> -->
  <!-- <div class="form-group has-success has-feedback form-custom"> -->
  <!-- <i class="fa fa-university fa-2x university-icon" style="top:0;"></i> -->
  
  <!-- <div class="input-sec"> -->
  <!-- <input type="text" placeholder="Keywords" class="form-control form-control-custom" > -->
  <% unless current_page?(root_path) || current_page?(new_user_registration_path) %>

  <% end %>
  <!-- </div> -->

  <!-- </div> -->
  <!-- </div> -->
</div>
</div>
</section>
<div class="modal fade" id="home-login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body login-modal">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= render 'common/login' %>
      </div>
    </div>
  </div>
</div>


<style>
  @import "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css";
  @import "https://daneden.github.io/animate.css/animate.min.css";
</style>
<script type="text/javascript">
  $(document).ready(function () {
    var trigger = $('.hamburger'),
    overlay = $('.overlay'),
    isClosed = false;

    trigger.click(function () {
      hamburger_cross();      
    });

    function hamburger_cross() {

      if (isClosed == true) {          
        overlay.hide();
        trigger.removeClass('is-open');
        trigger.addClass('is-closed');
        isClosed = false;
      } else {   
        overlay.show();
        trigger.removeClass('is-closed');
        trigger.addClass('is-open');
        isClosed = true;
      }
    }

    $('[data-toggle="offcanvas"]').click(function () {
      $('#wrapper').toggleClass('toggled');
    });  
  });

</script>