  <section class="register">
   <div class="container custom-container white-bg">
     <div class="row ">
      <!-- laptop banner starts -->
      <div class="col-md-4 col-sm-4 col-xs-12 hidden-xs">
        <%= image_tag("register-img.png") %>
      </div> 
      <!-- laptop banner ends -->
      <!-- mobile banner starts -->
      <div class="col-md-4 col-sm-4 col-xs-12 visible-xs-block">
        <%= image_tag("register-img_mobile.png") %>
      </div>  
      <!-- mobile banner ends -->
      <div class="col-md-7 col-sm-8 col-xs-12 overflow-y-scroll">
        <div class="form-section register_form_section">
          <div class="heading"> 
            <h3>Register to explore Learnista</h3>
          </div>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), validate: true) do |f| %>
          <%= f.error_notification %>
          <div class="row radio-btn-row">
            <div class="col-md-6 col-sm-6 col-xs-12 "> 
              <div class="radio radio-success">
                <%= f.radio_button :role, User::Role::INSTITUTE %>
                <label for="role_Institute">Register as Institute</label>
              </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 "> 
              <div class="radio radio-primary">
                <%= f.radio_button :role, User::Role::STUDENT %>
                <label for="role_Student">Register as Student</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 register-margin-btm">
             <%= f.input :email, required: true, label: false, placeholder: "Email", validate: { presence: true } %>
           </div>
         </div>

         <div class="row">
           <div class="col-md-12 col-sm-12 col-xs-12 register-margin-btm">
            <%= f.input :phone_number, required: true, label: false, placeholder: "Phone number", validate: true %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
           <%= f.input :password, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), label: false, placeholder: "Password" %>
         </div> 
         <div class="col-md-6 col-sm-6 col-xs-12 register-margin-btm">
           <%= f.input :password_confirmation, label: false, placeholder: "Password Confirmation" %>
         </div>
       </div>
       <div class="row social-login-row">
         <div class="col-md-8 col-sm-8 col-xs-12">
           <%= link_to(user_facebook_omniauth_authorize_path) do %>
           <%= image_tag("facebook.png") %>
           <% end %>
           <%= link_to(user_google_omniauth_authorize_path) do %>
           <%= image_tag("google.png") %>
           <% end %>
         </div>
         <div class="col-md-4 col-sm-4 col-xs-12 reg_btn_mob">
          <%= f.button :submit, "Sign up", class: "btn-blue-listing" %>
        </div>
      </div>
      <% end %>
    </div>  
  </div>
</div>
</div>
</section>