<div class="nested-fields">
  <div class="row">
    <div class="col-md-4">
      <% if f.object.picture.url %>
      <div class="form-group">
        <%= f.label "Picture" %>
        <%= f.file_field :picture, class: "file", data: {show_remove: false, show_upload: false, initial_caption: "#{f.object.picture.url.split("/").last}", initial_preview: "<img src = %s class= 'img-responsive' width='170' height='130' >" %["#{f.object.picture.url}"]} %>
      </div>
      <% else %>
      <div class="form-group">
        <%= f.label "Picture" %>
        <%= f.file_field :picture, class: "file", data: {show_remove: false, show_upload: false} %>
      </div>
      <% end %>
    </div>
    <div class="col-md-8 margin-btn-input">
     <%= f.input :name %>
     <%= f.input :description, input_html: {:rows => 4, maxlength: 200} %>
   </div>
 </div>
 

 <%= link_to_remove_association f do %>
 <span class="red-color"><%= fa_icon "trash-o" %> Remove Testimonial</span> 
 <% end %>
 <hr class="custom-hr">
</div>